{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h2>Link of the Day</h2>
        <hr>

        <h3>New Link of the Day</h3>
        <form id="link_form" action="{% url 'forms-link' %}" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="next" value="{% url 'dashboard-links' %}">
            {% csrf_token %}
            <table>
                <tbody>
                <tr>
                    <td class="shrink">{{ link_form.title.label_tag }}</td>
                    <td>{{ link_form.title }}</td>

                    <td  class="shrink">{{ link_form.icon.label_tag }}</td>
                    <td>{{ link_form.icon }}</td>
                </tr>
                <tr>
                    <td class="shrink">{{ link_form.description.label_tag }}</td>
                    <td colspan="3">{{ link_form.description }}</td>
                </tr>
                <tr>
                    <td class="shrink">{{ link_form.url.label_tag }}</td>
                    <td colspan="3">{{ link_form.url }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {% if 'link' in request.GET %}
                        <input id="id_submit" type="submit" value="Edit">
                        {% else %}
                        <input id="id_submit" type="submit" value="Create">
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <hr>
        <h3>Manage Links</h3>
        <table class="editable">
            <tbody>

            <tr>
                <td>Date</td>
                <td>Title</td>
                <td></td>
                <td></td>
            </tr>

            {% for link in links %}
            <tr>
                <form action="{% url 'dashboard-backend' %}" method="post">
                    <input type="hidden" name="link" value="{{ link.id }}" />
                    <input type="hidden" name="next" value="{% url 'dashboard-links' %}" />
                    {% csrf_token %}

                    <td class="shrink">{{ link.date_published|date:"N j, Y" }}</td>
                    <td class="shrink">
                        <a href="{% url 'dashboard-links' %}?link={{ link.id }}">{{ link.title }}</a>
                    </td>
                    <td class="expand">
                        {{ link.description }}<br>
                        <a href="{{ link.url }}" target="_blank">{{ link.url}}</a>
                    </td>
                    <td class="shrink">
                        <input type="submit" name="delete_link" value="x">
                    </td>
                </form>
            </tr>
            {% empty %}
            <tr><td>There are no links in the database.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}