{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block content %}
<h1>Trash</h1>
{% include "blog/templates/template_editablelist.html" with queryset=trash no_item_link=True show_idea=True show_untrash=True show_thought_delete=True %}
{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block footer %}
<p><a href="{% url 'dashboard' %}">Dashboard</a> // Trash // {{ request.user }}</p>
{% endblock %}