{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h2>Manage Ideas</h2>
        {% include "blog/templates/template_editablelist.html" with queryset=ideas edit_link="dashboard-ideas"|rev show_idea_order=True show_idea_delete=True item_link="dashboard-thoughts"|rev %}
        {% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
    </div>
</div>
{% endblock %}

{% block side %}
<!-- new idea form section -->
<h3>Create New Idea</h3>
<form id="add-idea" action="{% url 'forms-idea' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in idea_form.hidden_fields %}
    {{ field }}
    {% endfor %}
    <table>
        <tbody>
        <tr>
            <td class="shrink">{{ idea_form.name.label_tag }}</td>
            <td>{{ idea_form.name }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ idea_form.slug.label_tag }}</td>
            <td class="shrink">{{ idea_form.slug }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ idea_form.icon.label_tag }}</td>
            <td class="no-text-overflow">{{ idea_form.icon }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ idea_form.description.label_tag }}</td>
            <td class="expand">{{ idea_form.description }}</td>
        </tr>
        <tr>
            <td></td>
            <td id="submit-cell" class="shrink">
                <button class="publish" type="submit">{% if 'id' in request.GET %}Edit{% else %}Create{% endif %}</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}

{% block footer %}
<p><a href="{% url 'dashboard' %}">Dashboard</a> // Content // {{ request.user }}</p>
{% endblock %}