{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block http_headers %}
<script type="text/javascript">
$(function() {
  initialize_tinymce({
    auto_focus: 'id_content',
    content_css: ['{% static "css/mce.css" %}'],
    toolbar: ['undo redo | forecolor backcolor | charmap',
              'styleselect formatselect fontselect fontsizeselect'],
  });
});
</script>
{% endblock %}

{% block content %}
<h2>New Note</h2>
<form action="{% url 'forms-note' %}" method="post">
    {% csrf_token %}
    {% for field in note_form.hidden_fields %}
    {{ field }}{% endfor %}
    <table class="form-note">
        <tbody>
        <tr>
            <td colspan="2">
                {{ note_form.title.label_tag }}
                {{ note_form.title }}
            </td>
        </tr>
        <tr>
            <td class="half">
                {{ note_form.ideas.label_tag }}
                {{ note_form.ideas }}
            </td>
            <td class="half">
                {{ note_form.thoughts.label_tag }}
                {{ note_form.thoughts }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ note_form.content.label_tag }}
                {{ note_form.content }}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="right publish" type="submit">Save</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

<hr>
<h2>Manage Notes</h2>
{% include "blog/templates/template_editablelist.html" with queryset=notes show_note_delete=True %}

{% endblock %}