{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h1>{{ request.user.username }}'s Dashboard<hr></h1>

<!-- two column layout -->
<div class="row">
    <div class="large-6 columns">
        <div class="dashboard-panel">
            <h3>Manage Ideas</h3>

            <!-- new idea form section -->
            <form action="{% url 'forms-idea' %}" method="post">
                {% csrf_token %}
                <table class="add-idea">
                    <tbody>
                    <tr>
                        <td id="name-cell">{{ idea_form.name.label_tag }}{{ idea_form.name }}</td>
                        <td id="slug-cell">{{ idea_form.slug.label_tag }}{{ idea_form.slug }}</td>
                        <td id="description-cell">{{ idea_form.description.label_tag }}{{ idea_form.description }}</td>
                        <td id="submit-cell"><input id="id_submit" type="submit" value="Create"></td>
                    </tr>
                    </tbody>
                </table>
            </form>

            <!-- manage ideas form -->
            <table class="editable">
                <tr class="header">
                    <td>Name</td>
                    <td>Slug</td>
                    <td>Description</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for idea in ideas %}
                <tr>
                    <td title="{{ idea.slug }}"><a href="{% url 'dashboard' %}?idea_slug={{ idea.slug }}">{{ idea.name }}</a></td>
                    <td>{{ idea.slug }}</td>
                    <td>{{ idea.description }}</td>
                    <td class="button-box"><input type="button" value="^"></td>
                    <td class="button-box"><input type="button" value="v"></td>
                    <td class="button-box"><input type="button" value="x"></td>
                </tr>
                {% endfor %}
            </table>

            <ul class="pagination">
                {% for idea_page in idea_pages %}
                <li><a href="{% url 'dashboard' %}?idea_slug={{ request.GET.idea_slug }}&page={{ idea_page }}#manage_ideas">{{ idea_page }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="dashboard-panel">
            <h3>Post New Thought</h3>
            {% include 'blog/templates/template_thought.html' with form=thought_form idea=request.GET.idea_slug author=request.user.id %}
            <hr>

            <h3>Manage Thoughts</h3>
        </div>
    </div>
</div>
{% endblock %}