{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="large-10 large-offset-1 medium-12 small-12 columns">
        <h2>
            {% if "thought_slug" in request.GET %}
            Edit Thought
            {% else %}
            Write New Thought
            {% endif %}
        </h2>

        <form action="{% url 'forms-thought' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="author" value="{{ request.user.id }}" />
            <input type="hidden" name="next" value="default" />

            <table class="form-thought">
                <tr>
                    <th class="shrink">{{ new_thought_form.title.label_tag }}</th>
                    <th class="shrink">{{ new_thought_form.slug.label_tag }}</th>
                    <th class="shrink">{{ new_thought_form.idea.label_tag }}</th>
                </tr>
                <tr>
                    <td class="expand">{{ new_thought_form.title }}</td>
                    <td class="shrink">{{ new_thought_form.slug }}</td>
                    <td class="shrink">
                        {% if not idea %}
                        {{ new_thought_form.idea }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">{{ new_thought_form.content }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="button_clear" class="left" type="button" value="Clear" />
                        <input id="button_revert" class="left" type="button" value="Revert Changes" />

                        {% if "thought_slug" in request.GET %}
                        <input class="publish right" type="submit" value="Edit" />
                        {% else %}
                        <input class="left" type="submit" name="is_draft" value="Save as Draft" />
                        <input class="publish right" type="submit" name="publish" value="Publish" />
                        {% endif %}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
