{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block content %}
<h1>Drafts</h1>
{% include "blog/templates/template_editablelist.html" with queryset=drafts item_link="dashboard-author"|rev auto_update=True show_idea=True show_publish=True show_trash=True show_move=True %}
{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block footer %}
<p><a href="{% url 'dashboard' %}">Dashboard</a> // Drafts // {{ request.user }}</p>
{% endblock %}