{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block http_headers %}
<script type="text/javascript">
  $(function() {
    /* add event to search bar on enter keypress */
    $('#aws-search-bar').keypress(aws_search_enter_triggered);

    /* add event to search bar button on click */
    $('#aws-search img').click(aws_search);

    /* javascript clear button */
    $('#button-clear').click(function () {
      prefill_form('reading-list-form', {
        'id_title': '',
        'id_author': '',
        'id_link': '',
        'id_cover': '',
        'id_description': '',
        'id_wishlist': false,
        'id_favorite': false,
      });

      /* remove id hidden field */
      $('#id_id').remove();
    });

    /* add confirm dialog to delete buttons on book lists */
    $('.book-list').delegate('.delete-icon', 'click', function () {
      var msg = 'Really delete?';
      var result = confirm(msg);

      if (!result) {
        return false;
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<h2>Recently Read Books</h2>

<h3>Currently Reading</h3>
<div class="book-list">
    {% for book in wish_list %}
    <div class="aws-book-result group">
        <img src="{{ book.cover }}" class="left">
        <p class="title">{{ book.title }}</p>
        <p class="author">{{ book.author }}</p>
        <p class="description">{{ book.description }}</p>
        <p class="date">Added on {{ book.date_published|date:"F j, Y g:i A" }}</p>
        {% if book.favorite %}<span class="favorite" title="Cory's Favorites">&#x2605;</span>{% endif %}
        <a class="link-icon" href="{{ book.link }}" target="_blank" title="Open external link"></a>
        <a class="link-icon edit-icon" href="{% url 'dashboard-books' %}?id={{ book.id }}" title="Edit"></a>
        <form action="{% url 'dashboard-backend' %}" method="post">
            <input type="hidden" name="id" value="{{ book.id }}" />
            <input type="hidden" name="next" value="{% url 'dashboard-books' %}" />
            {% csrf_token %}
            <input class="link-icon delete-icon" type="submit" value="" name="book_delete" title="Delete" />
        </form>
    </div>
    {% empty %}
    <p class="empty">There are no books in your currently reading list.</p>
    {% endfor %}
</div>

<h3>Recently Read</h3>
<div class="book-list">
    {% for book in read_list %}
    <div class="aws-book-result group">
        <img src="{{ book.cover }}" class="left">
        <p class="title">{{ book.title }}</p>
        <p class="author">{{ book.author }}</p>
        <p class="description">{{ book.description }}</p>
        <p class="date">Added on {{ book.date_published|date:"F j, Y g:i A" }}</p>
        {% if book.favorite %}<span class="favorite" title="Cory's Favorites">&#x2605;</span>{% endif %}
        <a class="link-icon" href="{{ book.link }}" target="_blank" title="Open external link"></a>
        <a class="link-icon edit-icon" href="{% url 'dashboard-books' %}?id={{ book.id }}" title="Edit"></a>
        <form action="{% url 'dashboard-backend' %}" method="post">
            <input type="hidden" name="id" value="{{ book.id }}" />
            <input type="hidden" name="next" value="{% url 'dashboard-books' %}" />
            {% csrf_token %}
            <input class="link-icon delete-icon" type="submit" value="" name="book_delete" title="Delete" />
        </form>
    </div>
    {% empty %}
    <p class="empty">There are no books in your recently read list.</p>
    {% endfor %}
</div>

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block side %}
<h3>Add New Book to Reading List:</h3>
<div id="aws-search" class="group">
    <input id="aws-search-url" type="hidden" value="{% url 'search-aws' '' %}">
    <input id="aws-search-bar" type="text" placeholder="Search Amazon AWS" class="search-bar left" />
    <img src="{% static 'images/search.png' %}" class="left">
</div>
<div id="aws-results">
    <img class="loader" src="{% static 'images/loading.gif' %}">
</div>
<hr>
<form id="reading-list-form" action="{% url 'forms-readinglistitem' %}" method="post">
    {% csrf_token %}
    {% for field in reading_list_item_form.hidden_fields %}
    {{ field }}
    {% endfor %}
    <table>
        <tbody>
        <tr>
            <td class="shrink">{{ reading_list_item_form.title.label_tag }}</td>
            <td colspan="4">{{ reading_list_item_form.title }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ reading_list_item_form.author.label_tag }}</td>
            <td colspan="4">{{ reading_list_item_form.author }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ reading_list_item_form.link.label_tag }}</td>
            <td colspan="4">{{ reading_list_item_form.link }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ reading_list_item_form.cover.label_tag }}</td>
            <td colspan="4">{{ reading_list_item_form.cover }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ reading_list_item_form.description.label_tag }}</td>
            <td colspan="4">{{ reading_list_item_form.description }}</td>
        </tr>
        <tr>
            <td></td>
            <td class="shrink">{{ reading_list_item_form.wishlist.label_tag }}</td>
            <td>{{ reading_list_item_form.wishlist }}</td>
            <td class="shrink">{{ reading_list_item_form.favorite.label_tag }}</td>
            <td>{{ reading_list_item_form.favorite }}</td>
        </tr>
        <tr>
            <td></td>
            <td colspan="4">
                <button class="publish left" type="submit">{% if 'id' in request.GET %}Edit{% else %}Add{% endif %}</button>
                <button id="button-clear" class="left" type="button">Clear</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>

{% stat_box %}
{% endblock %}