{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block content %}
<h1>Drafts</h1>
{% for idea, thoughts in drafts.items %}
<p>{{ idea }}</p>
<table class="editable">
    <tbody>
    <tr>
        <td>Title</td>
        <td>Slug</td>
        <td>Content</td>
        <td></td>
        <td></td>
    </tr>

    {% for draft in thoughts %}
    <form action="{% url 'dashboard-backend' %}" method="post">
        <input type="hidden" name="thought_slug" value="{{ draft.slug }}" />
        <input type="hidden" name="next" value="{% url 'dashboard-drafts' %}" />
        {% csrf_token %}
        <tr>
            <td class="shrink">{{ draft.title }}</td>
            <td class="shrink">{{ draft.slug }}</td>
            <td>{{ draft.content|safe }}</td>
            <td class="shrink">
                <a class="button" href="{% url 'dashboard-author' %}?thought_slug={{ draft.slug }}">edit</a>
            </td>
            <td class="shrink">
                <input type="submit" name="trash" value="discard" />
            </td>
        </tr>
    </form>
    {% endfor %}
    </tbody>
</table>
    {% empty %}
    <tr><td>There are no drafts in database.</td></tr>
{% endfor %}
{% endblock %}