{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>
            Manage Thoughts
            {% if idea %}
            [<a href="{% url 'dashboard-ideas' %}">{{ idea }}</a>]
            {% endif %}
        </h3>
        {% include "blog/templates/template_editablelist.html" with queryset=thoughts item_link="dashboard-author"|rev show_unpublish=True show_trash=True show_move=True %}
        {% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
    </div>
</div>
{% endblock %}

{% block footer %}
<p>
    <a href="{% url 'dashboard' %}">Dashboard</a> //
    <a href="{% url 'dashboard-ideas' %}">Content</a> //
    Thoughts // {{ request.user }}
</p>
{% endblock %}