{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block http_headers %}
<script type="text/javascript">
  // page specific javascript init shit
  $(function() {
    // fancy editor window for admins who have javascript
    initialize_tinymce({
      auto_focus: 'id_description',
      content_css: ['{% static "css/mce.css" %}'],
      toolbar: ['undo redo | forecolor backcolor | emoticons charmap | visualblocks preview code',
                'styleselect formatselect fontselect fontsizeselect'],
    });
  });
</script>
{% endblock %}

{% block content %}
<h2>Highlights on the Web</h2>
{% include "blog/templates/template_editablelist.html" with queryset=highlights show_highlight_delete=True %}
{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination narrow=True %}
{% endblock %}

{% block side %}
<h3>New Highlight</h3>
<form id="highlight_form" action="{% url 'forms-highlight' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in highlight_form.hidden_fields %}
    {{ field }}
    {% endfor %}
    <table>
        <tbody>
        <tr>
            <td class="shrink">{{ highlight_form.title.label_tag }}</td>
            <td>{{ highlight_form.title }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ highlight_form.icon.label_tag }}</td>
            <td class="no-text-overflow">{{ highlight_form.icon }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ highlight_form.url.label_tag }}</td>
            <td>{{ highlight_form.url }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ highlight_form.description }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="publish" type="submit">{% if 'highlight' in request.GET %}Edit{% else %}Create{% endif %}</button>
                <button id="button-revert" type="button" class="right">Revert</button>
                <button id="button-clear" type="button" class="right">Clear</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}

{% block footer %}
<p><a href="{% url 'dashboard' %}">Dashboard</a> // Highlights // {{ request.user }}</p>
{% endblock %}