{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block http_headers %}
<script type="text/javascript">
  // page specific javascript init shit
  $(function() {
    // fancy editor window for admins who have javascript
    initialize_tinymce(
      'id_content',
      'textarea.editor',
      'button-clear',
      'button-revert',
      ['{% static "css/common.css" %}', 'http://fonts.googleapis.com/css?family=Sigmar+One|Roboto']);
  });
</script>
{% endblock %}

{% block content %}
{% if "thought_slug" in request.GET %}
<h2>Edit Thought</h2>
{% else %}
<h2>Write New Thought</h2>
{% endif %}

<form action="{% url 'forms-thought' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="author" value="{{ request.user.id }}" />
    <input type="hidden" name="next" value="{% url 'dashboard-thoughts' %}?idea_slug={idea}" />
    <input type="hidden" name="old_slug" value="{{ thought_form.slug.value|default_if_none:'' }}" />
    <table class="form-thought">
        <tr>
            <th class="shrink">{{ thought_form.title.label_tag }}</th>
            <td class="expand">{{ thought_form.title }}</td>
        </tr>
        <tr>
            <th>{{ thought_form.slug.label_tag }}</th>
            <td class="shrink">
                {% if thought_form.slug.value %}
                <p id="id_slug">{{ thought_form.slug.value }}</p>
                {% else %}
                {{ thought_form.slug }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>{{ thought_form.preview.label_tag }}</th>
            <td class="expand">{{ thought_form.preview }}</td>
        </tr>
        <tr>
            <th>{{ thought_form.idea.label_tag }}</th>
            <td class="shrink">
                {% if not idea %}
                {{ thought_form.idea }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3">{{ thought_form.content }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <input id="button-clear" type="button" value="Clear" />
                <input id="button-revert" type="button" value="Revert" />

                {% if thought_form.is_draft.value == True %}
                <input type="submit" name="is_draft" value="Save" />
                <input class="publish right" type="submit" value="Publish" />
                {% else %}
                {% if "thought_slug" not in request.GET %}
                <input type="submit" name="is_draft" value="Save as Draft" />
                <input class="publish right" type="submit" value="Edit" />
                {% else %}
                <input class="publish right" type="submit" name="publish" value="Publish" />
                {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block side %}
<h2>Notes</h2>
<p>Include notes for this idea in this column!</p>

<h2>To Do</h2>
<p>Relevant to do list items.</p>
{% endblock %}
