{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h2>Manage Ideas</h2>
        <hr>

        <!-- new idea form section -->
        <h3>Create New Idea</h3>
        <form action="{% url 'forms-idea' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'dashboard-ideas' %}" />
            <table class="add-idea">
                <tbody>
                <tr>
                    <td class="shrink">{{ idea_form.name.label_tag }}</td>
                    <td>{{ idea_form.name }}</td>
                </tr>
                <tr>
                    <td class="shrink">{{ idea_form.slug.label_tag }}</td>
                    <td class="shrink">{{ idea_form.slug }}</td>
                </tr>
                <tr>
                    <td class="shrink">{{ idea_form.icon.label_tag }}</td>
                    <td>{{ idea_form.icon }}</td>
                </tr>
                <tr>
                    <td class="shrink">{{ idea_form.description.label_tag }}</td>
                    <td class="expand">{{ idea_form.description }}</td>
                </tr>
                <tr>
                    <td class="shrink"></td>
                    <td id="submit-cell" class="shrink" colspan="3">
                        {% if "i" in request.GET %}
                        <input id="id_submit" type="submit" value="Edit">
                        {% else %}
                        <input id="id_submit" type="submit" value="Create">
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <hr>
        <!-- manage ideas form -->
        <h3>Idea List</h3>
        <table class="editable">
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Slug</td>
                <td>Description</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for idea in ideas %}
            <tr>
                <form action="{% url 'dashboard-backend' %}" method="post">
                    <input type="hidden" name="idea" value="{{ idea.slug }}" />
                    <input type="hidden" name="next" value="{% url 'dashboard-ideas' %}" />
                    {% csrf_token %}

                    <td class="shrink">{{ idea.order }}</td>
                    <td class="shrink">
                        <a href="{% url 'dashboard-thoughts' %}?idea_slug={{ idea.slug }}">{{ idea.name }}</a>
                    </td>
                    <td class="shrink">{{ idea.slug }}</td>
                    <td>{{ idea.description }}</td>
                    <td class="shrink"><input type="submit" name="order_up" value="v"></td>
                    <td class="shrink"><input type="submit" name="order_down" value="^"></td>
                    <td class="shrink">
                        <a class="button" href="{% url 'dashboard-ideas' %}?i={{ idea.slug }}">e</a>
                    </td>
                    <td class="shrink"><input type="submit" name="delete_idea" value="x"></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}