{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}">
<script type="text/javascript" src="{% static 'script/jquery.datetimepicker.js' %}"></script>

<script type="text/javascript">
$(function () {
  $('#id_date_due').datetimepicker({
    timepicker: false,
  });
});
</script>
{% endblock %}

{% block content %}
<h2>{{ request.user.username }}'s Dashboard</h2>
<hr class="header">

<h3>Tasks</h3>
<form id="task_form" action="{% url 'forms-task' %}" method="post">
    {% csrf_token %}
    {% for field in task_form.hidden_fields %}{{ field }}{% endfor %}
    <table>
        <tr>
            <td class="cell-content">
                {{ task_form.content }}
                <a class="link-icon calendar-icon" title="Pick a due date" href="#"></a>
            </td>
            <td class="shrink">
                <button type="submit">+</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">{{ task_form.priority.label_tag }}{{ task_form.priority }}</td>
        </tr>
        <!-- not yet
        <tr>
            <td colspan="2">
                <div class="subfield">{{ task_form.parent_task.label_tag }}{{ task_form.parent_task }}</div>
                <div class="subfield">{{ task_form.idea.label_tag }}{{ task_form.idea }}</div>
                <div class="subfield">{{ task_form.priority.label_tag }}{{ task_form.priority }}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{ task_form.date_due.label_tag }}
                {{ task_form.date_due }}
            </td>
        </tr> -->
    </table>
</form>

<p>Add Note</p>
<p>Activity Feed</p>
{% endblock %}