{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}

{% block content %}
<h2>Tasks</h2>
<form id="task_form" action="{% url 'forms-task' %}" method="post">
    {% csrf_token %}
    {% for field in task_form.hidden_fields %}{{ field }}{% endfor %}
    <table>
        <tr>
            <td class="cell-content">
                {{ task_form.content }}
                <a class="link-icon calendar-icon" title="Pick a due date" href="#"></a>
            </td>
            <td class="shrink">
                <button type="submit">+</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table class="subfield_3">
                    <tr>
                        <td class="shrink">{{ task_form.parent_task.label_tag }}</td>
                        <td class="expand">{{ task_form.parent_task }}</td>
                    </tr>
                </table>
                <table class="subfield_3">
                    <tr>
                        <td class="shrink">{{ task_form.idea.label_tag }}</td>
                        <td class="expand">{{ task_form.idea }}</td>
                    </tr>
                </table>
                <table class="subfield_3">
                    <tr>
                        <td class="shrink">{{ task_form.priority.label_tag }}</td>
                        <td class="expand">{{ task_form.priority }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

{% if 'c' not in request.GET %}
<p class="right"><a href="{% url 'dashboard-todo' %}?c">Show completed Tasks</a></p>
{% else %}
<p class="right"><a href="{% url 'dashboard-todo' %}">Hide completed Tasks</a></p>
{% endif %}

<table class="task-list">
    <thead>
    <tr>
        <td><img class="icon" src="{% static 'images/icon_checkbox.png' %}"></td>
        <td>Task</td>
        <td class="center-align"><img class="icon" src="{% static 'images/icon_priority.png' %}"></td>
        <td class="center-align">Added</td>
        <td><a class="icon icon-delete"></a></td>
    </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
    <tr>
        <td class="shrink">
            {% if not task.parent_task and not task.has_subtasks %}
                {% if task.is_completed %}
                <img class="icon icon-checkbox" src="{% static 'images/icon_checkbox.png' %}">
                {% else %}
                <a class="incomplete icon icon-checkbox" title="Mark as Complete" href="{% url 'forms-task-mark' task.id %}"></a>
                {% endif %}
            {% endif %}
        </td>
        {% if task.is_completed %}
        <td class="completed">
        {% else %}
        <td>
        {% endif %}
            {% if task.parent_task %}
                {% if task.is_completed %}
                <img class="icon icon-checkbox" src="{% static 'images/icon_checkbox.png' %}">
                {% else %}
                <a class="incomplete icon icon-checkbox" title="Mark as Complete" href="{% url 'forms-task-mark' task.id %}"></a>
                {% endif %}
                &nbsp;
            {% endif %}

            <span class="priority_{{ task.priority }}">
                {{ task.content }}
                {% if task.idea %}
                <span class="slug blue">{{ task.idea }}</span>
                {% endif %}
            </span>
        </td>
        <td class="shrink center-align">
            {% if not task.is_completed %}
            <a class="dropdown priority-dropdown"></a>
            <ul class="dropdown">
                <li><a title="Change to Next Priority" href="{% url 'forms-task-priority' task.id 3 %}">next</a></li>
                <li><a title="Change to High Priority" href="{% url 'forms-task-priority' task.id 2 %}">high</a></li>
                <li><a title="Change to Medium Priority" href="{% url 'forms-task-priority' task.id 1 %}">med</a></li>
                <li><a title="Change to Low Priority" href="{% url 'forms-task-priority' task.id 0 %}">low</a></li>
            </ul>
            {% endif %}
        </td>
        <td class="shrink center-align">{{ task.display_date_added }}</td>
        <td class="shrink">
            <a class="icon icon-delete" title="Delete this task" href="{% url 'forms-task-delete' task.id %}"></a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>There are no tasks in the database.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}