{% extends 'blog/templates/template_dashboard.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block http_headers %}
{% endblock %}

{% block content %}
<h2>{{ request.user.username }}'s Recent Activity</h2>
<table class="activity-feed">
    <tbody>
    {% for activity in activities %}
    <tr>
        <td class="shrink">
            <div class="activity-type-{{ activity.type }}"></div>
        </td>
        <td>
            {% if activity.url %}
            <a class="overlay" href="{{ activity.url }}"></a>
            {% endif %}
            <p>{% if activity.author == request.user %}You{% else %}{{ activity.author }}{% endif %} {{ activity.generate_message|safe }}</p>
        </td>
        <td class="shrink right-justify date">{{ activity.display_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td class="shrink"><div class="activity-type-"></div></td>
        <td>No recent activity...</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}