BeautifulSoup==3.2.1
boto==2.36.0
certifi==2018.8.13
chardet==3.0.4
dj-database-url==0.3.0
Django==1.7.1
django-appconf==1.0.1
django-imagekit==3.2.5
django-postgrespool==0.3.0
django-storages==1.1.8
gunicorn==19.5.0
html5lib==0.999
idna==2.7
lxml==3.4.2
pilkit==1.1.12
Pillow==3.3.2
psycopg2==2.7.5
pytz==2014.10
requests==2.20.0
selenium==2.44.0
six==1.9.0
SQLAlchemy==0.9.8
urllib3==1.23
