amqp==2.3.2
anyjson==0.3.3
BeautifulSoup==3.2.1
billiard==3.5.0.4
boto==2.49.0
celery==4.2.1
certifi==2018.8.13
chardet==3.0.4
dj-database-url==0.3.0
Django==1.11.16
django-appconf==1.0.1
django-imagekit==4.0.2
django-postgrespool==0.3.0
django-storages==1.7.1
gunicorn==19.5.0
html5lib==0.999
idna==2.7
kombu==4.2.1
lxml==3.4.2
pilkit==2.0
Pillow==5.3.0
psycopg2-binary==2.7.5
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
selenium==2.44.0
six==1.9.0
SQLAlchemy==0.9.8
urllib3==1.23
vine==1.1.4
