<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP :: Dashboard :: {{ page_title }}</title>

    <!-- css includes -->
    <link href='http://fonts.googleapis.com/css?family=Sigmar+One|Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

    <!-- script includes -->
    <script type="text/javascript" src="{% static 'script/jquery-1.11.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/framework.js' %}"></script>

    <script type="text/javascript">
       // myfont trial code
      (function() {
          var path = '//easy.myfonts.net/v2/js?sid=4276(font-family=Eurostile+Regular)&sid=4277(font-family=Eurostile+Bold)&sid=4279(font-family=Eurostile+Black)&sid=4280(font-family=Eurostile+Medium)&key=Dq99rML4bs',
              protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
              trial = document.createElement('script');
          trial.type = 'text/javascript';
          trial.async = true;
          trial.src = protocol + path;
          var head = document.getElementsByTagName("head")[0];
          head.appendChild(trial);
      })();
    </script>

    {% block http_headers %}
    <!-- template specific head tags should be added here -->
    {% endblock %}
</head>
<body name="top">
    <div id="header">
        <div class="row">
            <!-- top bar -->
            <div class="large-6 medium-6 small-12 columns">
                <a href="{% url 'dashboard' %}"><span class="logo">Slacker Paradise</span></a>
            </div>

            <div class="large-4 medium-4 small-12 columns end">
                <nav role="navigation">
                    <ul class="right">
                        <li><a href="{% url 'index' %}">Site Index</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div id="content" class="row">
        <div id="content-main" class="large-10 medium-10 small-10 columns">
            {% if messages %}
            <!-- flash message area -->
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- main content -->
            {% block content %}
            There is no content on this page.
            {% endblock %}
        </div>

        <!-- side content -->
        <div id="content-side" class="large-2 medium-2 small-2 columns">
            {% block side %}
            <ul>
                <li><a href="{% url 'dashboard-highlights' %}">Highlights</a></li>
                <li class="divider"></li>
                <li><a class="highlight" href="{% url 'dashboard-author' %}">Post New Thought</a></li>
                <li><a href="{% url 'dashboard-ideas' %}">Content</a></li>
                <li><a href="{% url 'dashboard-drafts' %}">Drafts</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'dashboard-trash' %}">Trash</a></li>
            </ul>
            {% endblock %}
        </div>
    </div>

    <!-- footer -->
    <div id="footer">
        <div class="row">
            <div class="large-10 medium-10 small-10 columns">
                {% block footer %}
                Some kind of useful breadcrumb navigation bullshit.
                {% endblock %}
            </div>
        </div>
    </div>

    <a href="#top" class="top-button">back to the<br><h1>top</h1></a>
</body>
</html>