<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP :: Dashboard :: {{ page_title }}</title>

    <!-- css includes -->
    <link href='http://fonts.googleapis.com/css?family=Sigmar+One|Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation/foundation.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">

    <!-- script includes -->
    <!-- <script type="text/javascript" src="{% static 'script/jquery-1.11.1.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'script/tinymce/tinymce.min.js' %}"></script>

    <script type="text/javascript">
      /* TODO: refactor the shit out of this */
      get_absolute_url = function (relative_path) {
        var url = window.location.protocol + "//";
        url += window.location.hostname;

        url += "/" + relative_path;
        return url
      }

      tinymceFileBrowser = function (field_name, url, type, win) {
        var lfieldname = field_name;
        var lwin = win;

        var file_upload = document.createElement("input");
        file_upload.type = "file";
        file_upload.name = "file_upload";
        file_upload.style.display = "none";

        /* open os dialog window */
        file_upload.click();

        var test = function (data) {
          for (filename in data) {
            var valid_filename = /^[0-9]*\-[0-9]{2,3}\.[a-zA-Z0-9]+$/;
            if (filename.match(valid_filename) === null) {
              alert(data[filename]);
              return;
            }

            lwin.document.getElementById(lfieldname).value = get_absolute_url(data[filename]);
          }
        }

        var post_select = function(event) {
          mystr = $(file_upload).val();

          var form_action = "{% url 'upload' %}";

          var formData = new FormData();
          formData.append('file_upload', event.data.file_upload[0].files[0]);
          formData.append('csrfmiddlewaretoken', "{{ csrf_token }}");

          $.ajax({
            url: form_action,
            method: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: test,
          });
        }
        $(file_upload).change({file_upload: $(file_upload)}, post_select);

        /*var upload_script_url = window.location.protocol + "//" +
          window.location.hostname + "/dashboard/upload/";

        tinyMCE.activeEditor.windowManager.open({
          file: upload_script_url,
          title: "Choose File",
          width: 800,
          height: 430,
          resizeable: "no",
          close_previous: "no",
        },{
          window: win,
          input: field_name,
        });*/

      };

      tinymce.init({
        auto_focus: 'thought-editor',
        selector: 'textarea.editor',
        plugins: 'advlist anchor autoresize autosave charmap code contextmenu emoticons hr image link media paste preview save searchreplace tabfocus table textcolor visualblocks wordcount',
        autoresize_min_height: 300,
        autoresize_max_height: 600,
        content_css: '{% static "css/common.css" %}',
        resize: false,
        menubar: false,
        skin: "light",
        relative_urls: false,
        font_formats: "Roboto=Roboto;"+
          "Arial=arial,helvetica,sans-serif;"+
          "Courier New=courier new,courier;"+
          "Comic Sans MS=comic sans ms,sans-serif;"+
          "Helvetica=helvetica;"+
          "Times New Roman=times new roman,times;",
        toolbar: [
          'undo redo | forecolor backcolor | alignleft aligncenter alignright | superscript subscript | removeformat | outdent indent | blockquote | bullist numlist | table | visualblocks preview code',
          'styleselect formatselect fontselect fontsizeselect | link image media emoticons charmap'
        ],
        setup: function (editor) {
          editor.on('loadContent', function () {
            // save snapshot on load for "revert changes" button
            original_state = editor.getContent();
          });
        },
        file_browser_callback: tinymceFileBrowser,
      });

      init = function () {
        tinymce_clear = function () {
          tinyMCE.get('thought-editor').setContent('');
        }

        tinymce_revert = function () {
          tinyMCE.get('thought-editor').setContent(original_state);
        }

        $('#button_clear').click(tinymce_clear);
        $('#button_revert').click(tinymce_revert);
      };

      $(document).ready(init);
    </script>

    {% block http_headers %}
    <!-- template specific head tags should be added here -->
    {% endblock %}
</head>
<body name="top">
    <div id="header">
        <div class="row collapse">
            <!-- top bar -->
            <div class="large-6 medium-6 small-10 columns">
                <span class="logo">Slacker Paradise</span>
            </div>

            <div class="large-4 medium-4 small-10 columns end">
                <nav role="navigation">
                    <ul class="right">
                        <li><a href="{% url 'index' %}">Site Index</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

<div id="content" class="row">
    <div class="large-10 medium-10 small-10 columns">
        {% if messages %}
        <!-- flash message area -->
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- main content -->
        {% block content %}
        There is no content on this page.
        {% endblock %}
    </div>

    <!-- side content -->
    <div id="side" class="large-2 medium-2 small-2 columns">
        {% block side %}
        <ul>
            <li>Analytics/Statistics</li>
            <hr>
            <li>Manage new comments...</li>
            <hr>
            <li><a href="{% url 'dashboard-ideas' %}">Manage Content</a></li>
            <hr>
            <li><a href="{% url 'dashboard-author' %}">Post New Thought</a></li>
            <li><a href="{% url 'dashboard-drafts' %}">Drafts</a></li>
            <li><a href="{% url 'dashboard-trash' %}">Trash</a></li>
            <hr>
            <li>Export Database</li>
            <li>Import Database</li>
            <hr>
            <li>User Profile</li>
            <li>Settings</li>
        </ul>
        {% endblock %}
    </div>
</div>

<!-- footer -->
<div id="footer">
    <div class="row">
        <div class="large-10 medium-10 small-10 columns">
            {% block footer %}
            Some kind of useful breadcrumb navigation bullshit.
            {% endblock %}
        </div>
    </div>
</div>

<a href="#top" class="top-button">back to the<br><h1>top</h1></a>

</body>
</html>