{% if paginator.num_pages > 1 %}
{% load blog_extras %}
<ul class="pagination group">
    <li>
        {% if pages.first == pages.current %}
        <span class="inactive">{% if not narrow %}First{% endif %}</span>
        {% else %}
        <a href="{% url_qs p=pages.first %}">{% if not narrow %}First{% endif %}</a>
        {% endif %}
    </li>
    <li>
        {% if pages.prev %}
        <a href="{% url_qs p=pages.prev %}">{% if not narrow %}Prev{% endif %}</a>
        {% else %}
        <span class="inactive">{% if not narrow %}Prev{% endif %}</span>
        {% endif %}
    </li>
    {% for page in pages.pages %}
    <li>
        {% if pages.current == page %}
        <span class="inactive">{{ page }}</span>
        {% else %}
        <a href="{% url_qs p=page %}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        {% if pages.next %}
        <a href="{% url_qs p=pages.next %}">{% if not narrow %}Next{% endif %}</a>
        {% else %}
        <span class="inactive">{% if not narrow %}Next{% endif %}</span>
        {% endif %}
    </li>
    <li>
        {% if pages.last == pages.current %}
        <span class="inactive">{% if not narrow %}Last{% endif %}</span>
        {% else %}
        <a href="{% url_qs p=pages.last %}">{% if not narrow %}Last{% endif %}</a>
        {% endif %}
    </li>
</ul>
{% endif %}