<form action="{% url 'forms-thought' %}" method="post">
    {% csrf_token %}
    {% if idea %}<input type="hidden" name="idea" value="{{ idea }}" />{% endif %}
    <input type="hidden" name="author" value="{{ author }}" />
    {% if urlpass %}<input type="hidden" name="urlpass" value="{{ urlpass }}" />{% endif %}
    {% if q %}<input type="hidden" name="q" value="{{ q }}" />{% endif %}

    <table class="form-thought">
        <tr>
            <th>{{ form.title.label_tag }}</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>{{ form.slug.label_tag }}</th>
            <td>{{ form.slug }}</td>
        </tr>
        <tr>
            <th>{{ form.content.label_tag }}</th>
            <td>{{ form.content }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Publish">
                {% if not idea %}
                {{ form.idea }}
                {% endif %}
            </td>
        </tr>
    </table>
</form>