{% if paginator.num_pages > 1 %}
<ul class="pagination group">
    <li>
        {% if pages.first == pages.current %}
        <span class="inactive">First</span>
        {% else %}
        <a href="{{ request.path }}?p=1">First</a>
        {% endif %}
    </li>
    <li>
        {% if pages.prev %}
        <a href="{{ request.path }}?p={{ pages.prev }}">Prev</a>
        {% else %}
        <span class="inactive">Prev</span>
        {% endif %}
    </li>

    {% for page in pages.pages %}
    <li>
        {% if pages.current == page %}
        <span class="inactive">{{ page }}</span>
        {% else %}
        <a href="{{ request.path }}?p={{ page }}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}

    <li>
        {% if pages.next %}
        <a href="{{ site_page }}?p={{ pages.next }}">Next</a>
        {% else %}
        <span class="inactive">Next</span>
        {% endif %}
    </li>
    <li>
        {% if pages.last == pages.current %}
        <span class="inactive">Last</span>
        {% else %}
        <a href="{{ request.path }}?p={{ pages.num_pages }}">Last</a>
        {% endif %}
    </li>
</ul>
{% endif %}