{% if paginator.num_pages > 1 %}
{% load blog_extras %}
<ul class="pagination group">
    <li>
        {% if pages.first == pages.current %}
        <span class="inactive"><span class="minimize">{% if not narrow %}First{% endif %}</span></span>
        {% else %}
        <a href="{% url_qs p=pages.first %}"><span class="minimize">{% if not narrow %}First{% endif %}</span></a>
        {% endif %}
    </li>
    <li>
        {% if pages.prev %}
        <a href="{% url_qs p=pages.prev %}"><span class="minimize">{% if not narrow %}Prev{% endif %}</span></a>
        {% else %}
        <span class="inactive"><span class="minimize">{% if not narrow %}Prev{% endif %}</span></span>
        {% endif %}
    </li>
    {% for page in pages.pages %}
    <li class="pages">
        {% if pages.current == page %}
        <span class="inactive">{{ page }}</span>
        {% else %}
        <a href="{% url_qs p=page %}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        {% if pages.next %}
        <a href="{% url_qs p=pages.next %}"><span class="minimize">{% if not narrow %}Next{% endif %}</span></a>
        {% else %}
        <span class="inactive"><span class="minimize">{% if not narrow %}Next{% endif %}</span></span>
        {% endif %}
    </li>
    <li>
        {% if pages.last == pages.current %}
        <span class="inactive"><span class="minimize">{% if not narrow %}Last{% endif %}</span></span>
        {% else %}
        <a href="{% url_qs p=pages.last %}"><span class="minimize">{% if not narrow %}Last{% endif %}</span></a>
        {% endif %}
    </li>
</ul>
{% endif %}