{% if paginator.num_pages > 1 %}
{% load blog_extras %}
<ul class="pagination group">
    <li>
        {% if pages.first == pages.current %}
        <span class="inactive">First</span>
        {% else %}
        <a href="{% url_qs p=pages.first %}">First</a>
        {% endif %}
    </li>
    <li>
        {% if pages.prev %}
        <a href="{% url_qs p=pages.prev %}">Prev</a>
        {% else %}
        <span class="inactive">Prev</span>
        {% endif %}
    </li>
    {% for page in pages.pages %}
    <li>
        {% if pages.current == page %}
        <span class="inactive">{{ page }}</span>
        {% else %}
        <a href="{% url_qs p=page %}">{{ page }}</a>
        {% endif %}
    </li>
    {% endfor %}
    <li>
        {% if pages.next %}
        <a href="{% url_qs p=pages.next %}">Next</a>
        {% else %}
        <span class="inactive">Next</span>
        {% endif %}
    </li>
    <li>
        {% if pages.last == pages.current %}
        <span class="inactive">Last</span>
        {% else %}
        <a href="{% url_qs p=pages.last %}">Last</a>
        {% endif %}
    </li>
</ul>
{% endif %}