{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block content %}
<h2><a name="about-slacker-paradise">About Slacker Paradise…</a></h2>
<p>A slacker paradise is exactly what it sounds like. A slacker paradise is that place in your head where you think about awesome shit when you are supposed to be sitting in your cubicle doing something really boring. Why would you wanna make TPS reports for some butt-fuck when you could be here?</p>
<h3><a name="the-art-of-slack">The Art of Slack</a></h3>
<p>Being a slacker, also known as “slacking”, is a way of life. Being a slacker is actually really hard. This is not a joke.</p>
<blockquote class="pull-quote">
    <p>Being a slacker means not doing anything that anyone tells you to, and especially not doing the thing you are supposed to be doing at this very minute.</p>
</blockquote>
<p>Being a slacker means not doing anything that anyone tells you to, and especially not doing the thing you are supposed to be doing at this very minute. A slacker doesn't even do the thing he/she decided to do in the first place. The only reason for a slacker to do anything at all is because it's fucking awesome. Slackers do things because it's cool. Not because it makes money, or because it has great market appeal. A slacker, in the proper sense of the word, is someone who is true to themselves and seeks to do what is best (read: most interesting) at the moment. Things will work themselves out. A slacker follows the art of <em>Slacker Zen</em>.</p>
<h3><a name="slacker-zen">Slacker Zen? What the hell?</a></h3>
<blockquote>
    <p>Scott Pilgrim is a 23-year-old jobless type of kid living in Toronto. He has a few jerky friends and they're in a band together... Scott has hit this point in his life where he's in a sort of slacker Zen state. Nothing really bothers him and he's always pretty cheery, in a laid-back, kind of slightly disturbing way… Scott is less complex than most people, and that suits him fine. He plays video games, cooks dinner for his friends and roommates, watches television, refrains from smoking or drinking or having sex with his desperately horny 17-year old girlfriend, and has a great old time of it all.</p>
    <cite>Bryan Lee O'Malley</cite>
</blockquote>
<p>Scott Pilgrim is the freaking shit. He experiences a prolonged state of Slacker Zen before he ascends to a higher plane of existence and accepts his responsibilities as a rad dude. Bryan Lee O’Malley says it best.</p>
<h3><a name="slacker-manifesto">Slacker Manifesto</a></h3>
<p>This dude's <a href="http://brodzinski.com/slacker-manifesto-html" target="_blank">website</a> has a page on it that's called "Slacker Manifesto". What the fuck is this shit. This page comes from a software project management blog. People like this make slackers look bad. This isn't slacking, this is hip corporate-speak bullshit. Just because you're doing nothing at a given moment doesn't mean you are a slacker, it means you're human. It takes dedication to do nothing <em>all the time</em>. Get outta here with this casual bullshit. This is a REAL slacker manifesto:</p>
<blockquote>
    <p>We will forsake our jobs.</p>
    <p>We will leave our them behind us and become one with this earth. We have no nation, no philosophy, no ideology. We go where we're needed, slacking, not for government, but for ourselves.</p>
    <p>We need no reason to slack.<br>We slack because we can.</p>
    <p>We will be the deterrent for those with no other recourse. We are slackers without borders, our purpose defined by the era we live in.</p>
    <p>We will sometimes have to sell ourselves and services. If the times demand it, we'll be stoners, deadbeats, and gypsies.</p>
    <p>And yes, we may all be headed straight to hell. But what better place for us than this?</p>
    <p>It's our only home.<br>Our heaven and our hell.<br>This is Slacker Paradise.</p>
    <cite>Slack Boss</cite>
</blockquote>
<p>And don't be fooled by what people say. A slacker is not a loser, nor is slacking a bad thing. That's just propaganda spouted by people who have already been brainwashed into thinking they should waste their lives away working for the man because they think they need to be "productive". There are have been many famous and influential people who are slackers. For example, Mark Zuckerberg, Steve Jobs, and Bill Gates are among the ranks of high level slackers. They dropped out of college halfway through and accidentally made huge companies. Amazing what kinds of things you can do by accident?</p>
<p>Anyway, not all slackers are huge computer nerds. Gandhi was another famous slacker who was able to bring about widespread social change over his refusal to do anything at all. It was quite amazing, watching him sit there doing nothing, being so in tune with his Slacker Zen that he couldn't even muster the will to eat food until he almost died.</p>
<p>Similarly, Rosa Parks, did the same almost fifty years later in the middle of a fit of slacking so hard that she was unable to get up from her seat on the bus. And most of all, don’t forget me, Cory Parsnipson. I'm a bad dude. Nuff said.</p>

<hr>

<h2><a name="technology-stack">Technology Stack</a></h2>
<p>Slacker Paradise was made with:</p>
<ul>
    <li><a href="https://www.djangoproject.com/" target="_blank">Django 1.7.1</a></li>
    <li><a href="https://github.com/matthewwithanm/django-imagekit" target="_blank">Django ImageKit</a></li>
    <li><a href="https://pillow.readthedocs.org/" target="_blank">Python Pillow</a></li>
    <li><a href="https://bleach.readthedocs.org/en/latest/" target="_blank">Bleach</a></li>
    <li><a href="https://boto.readthedocs.org/en/latest/" target="_blank">Boto</a> with <a href="https://django-storages.readthedocs.org/en/latest/" target="_blank">Django Storages</a></li>
    <li><a href="http://initd.org/psycopg/" target="_blank">psycopg2</a> optimized with <a href="https://pypi.python.org/pypi/django-postgrespool" target="_blank">Django Postgrespool</a> and <a href="https://pypi.python.org/pypi/dj-database-url" target="_blank">Dj Database URL</a></li>
    <li><a href="http://gunicorn.org/" target="_blank">gunicorn</a></li>
    <li><a href="http://www.crummy.com/software/BeautifulSoup/" target="_blank">BeautifulSoup</a></li>
    <li><a href="http://foundation.zurb.com/" target="_blank">Foundation 5</a></li>
    <li><a href="http://jquery.com/" target="_blank">jQuery</a></li>
    <li><a href="http://www.tinymce.com/" target="_blank">TinyMCE</a></li>
    <li><a href="http://www.seleniumhq.org/" target="_blank">Selenium</a></li>
    <li><a href="http://docs.python-guide.org/en/latest/dev/virtualenvs/" target="_blank">VirtualEnv</a></li>
    <li><a href="http://en.wikipedia.org/wiki/Beer" target="_blank">Beer</a></li>
    <li>Probably more stuff that I can't remember</li>
</ul>

<p>Slacker Paradise is hosted on <a href="http://www.heroku.com" target="_blank">Heroku</a> with static file hosting on <a href="http://aws.amazon.com/s3/" target="_blank">Amazon S3</a> and domain registration by <a href="http://www.namecheap.com" target="_blank">NameCheap</a>. The text is laid out in <a href="http://www.google.com/fonts/specimen/Roboto" target="_blank">Roboto</a> and <span class="eurostile-black big"><a href="https://www.myfonts.com/fonts/urw/eurostile/" target="_blank">Eurostile Black</a></span>.</p>
{% endblock %}

{% block side %}
<div id="author-block" class="group">
    <h2><a name="cory-parsnipson">About Cory Parsnipson</a></h2>
    <img class="left" src="{% static 'images/cparsnipson.png' %}">
    <p>Cory Parsnipson is a slacker. He graduated with absolutely no honors from <a href="https://www.facebook.com/CaldwellU" target="_blank"> Caldwell University</a>, class of '12. He is a super smart person and handsome. He is popular + has many friends.</p>

    <p>Send Cory Parsnipson <a href="#">hate mail</a>.</p>
    <p>Friend Cory Parsnipson on <a href="https://www.facebook.com/cory.parsnipson" target="_blank">facebook</a>. (Tell him he sucks)</p>
    <hr>

    <h2>Contents</h2>
    <a class="reverse-color sidebar" href="#about-slacker-paradise">About Slacker Paradise...</a>
    <a class="reverse-color sidebar" href="#the-art-of-slack">The Art of Slack</a>
    <a class="reverse-color sidebar" href="#slacker-zen">Slacker Zen? What the hell?</a>
    <a class="reverse-color sidebar" href="#slacker-manifesto">Slacker Manifesto</a>
    <a class="reverse-color sidebar" href="#technology-stack">Technology Stack</a>
</div>
{% endblock %}