{% extends 'blog/default_page.html' %}

{% block content %}
<h3>About Cory Parsnipson</h3>
<p>Cory parsnipson blah blah blah</p>

<h3>About Slacker Paradise...</h3>
<p>We will forsake our jobs.</p>
<p>We will leave our them behind us and become one with this earth. We have no nation, no philosophy, no ideology. We go where we're needed, slacking, not for government, but for ourselves.</p>
<p>We need no reason to slack.<br>We slack because we can.</p>
<p>We will be the deterrent for those with no other recourse. We are slackers without borders, our purpose defined by the era we live in.</p>
<p>We will sometimes have to sell ourselves and services. If the times demand it, we'll be stoners, deadbeats, and gypsies.</p>
<p>And yes, we may all be headed straight to hell. But what better place for us than this?</p>
<p>It's our only home.<br>Our heaven and our hell.<br>This is Slacker Paradise.</p>
{% endblock %}