{% extends 'blog/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h1>{{ request.user.username }}'s Dashboard<hr></h1>

<h3>Post New Thought</h3>
{% include 'blog/template_thought.html' with form=thought_form idea=request.GET.idea_slug author=request.user.id %}
<hr>

<h3><a name="bob">Manage Ideas</a></h3>
<table class="editable">
    <tr class="header">
        <td>Name</td>
        <td>Slug</td>
        <td>Description</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for idea in ideas %}
    <tr>
        <td title="{{ idea.slug }}"><a href="{% url 'dashboard' %}?idea_slug={{ idea.slug }}">{{ idea.name }}</a></td>
        <td>{{ idea.slug }}</td>
        <td>{{ idea.description }}</td>
        <td class="button-box"><input type="button" value="^"></td>
        <td class="button-box"><input type="button" value="v"></td>
        <td class="button-box"><input type="button" value="x"></td>
    </tr>
    {% endfor %}
</table>

<ul class="editable-pages group">
    {% for idea_page in idea_pages %}
    <li><a href="{% url 'dashboard' %}?idea_slug={{ request.GET.idea_slug }}&page={{ idea_page }}">{{ idea_page }}</a></li>
    {% endfor %}
</ul>

<h3>Create New Idea:</h3>
<hr>

<!-- new idea form -->
<form action="{% url 'forms-idea' %}" method="post">
    {% csrf_token %}
    <table class="add-idea">
        <tbody>
        <tr>
            {% for field in idea_form %}
            <td {% if field.id_for_label == "id_description" %} class="fill" {% endif %}>
            {{ field.label_tag }}<br>
            {{ field }}
            </td>
            {% endfor %}
            <td class="last"><input id="id_submit" type="submit" value="Create"></td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}

{% block side %}
<p>Huurrr dashboard</p>
<hr>
<p>Analytics/Statistics?</p>
<hr>
<p>Manage new comments...</p>
<hr>
<h3>Ideas</h3>
<p><a href="#bob">Manage Ideas</a></p>
<p>Create New Idea</p>
<hr>
<h3>Thoughts</h3>
<p>Manage Thoughts</p>
<p>Post New Thought</p>
<hr>
<h3>Settings</h3>
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}