{% extends 'blog/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h1>{{ user.first_name }}'s Dashboard<hr></h1>

{% if request.GET.idea_slug %}
<h3>Post New Thought</h3>
{% include 'blog/template_thought.html' with form=thought_form idea=request.GET.idea_slug author=request.user.id %}
<hr>
{% endif %}

<h3>Manage Ideas</h3>

<!-- new idea form -->
<form action="{% url 'forms-idea' %}" method="post">
    {% csrf_token %}
    <table class="add-idea">
        <tbody>
        <tr>
            {% for field in idea_form %}
            <td {% if field.id_for_label == "id_description" %} class="fill" {% endif %}>
            {{ field.label_tag }}<br>
            {{ field }}
            </td>
            {% endfor %}
            <td class="last"><input id="id_submit" type="submit" value="Create"></td>
        </tr>
        </tbody>
    </table>
</form>

<ul class="editable group">
    <li><input type="checkbox" id="checkbox_all" value="all"></li>
    <li>Edit</li>
    <li>Delete</li>
</ul>

<table class="editable">
    <tr>
        <td><input type="checkbox" id="checkbox_all" value="all"></td>
        <td>Name</td>
        <td>Description</td>
        <td>Delete</td>
    </tr>
    {% for idea in ideas %}
    <tr>
        <td><input type="checkbox" id="checkbox_{{ idea.slug }}" value="{{ idea.slug }}"></td>
        <td title="{{ idea.slug }}">{{ idea.name }}</td>
        <td>{{ idea.description }}</td>
        <td>=</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block side %}
<p>Huurrr dashboard</p>
<hr>
<p>Analytics/Statistics?</p>
<hr>
<p>Manage new comments...</p>
<hr>
<h3>Ideas</h3>
<p>Create New Idea</p>
<hr>
<h3>Thoughts</h3>
<p>Post New Thought</p>
<hr>
<h3>Settings</h3>
<a href="{% url 'logout' %}">Logout</a>
{% endblock %}