{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<h2>
    Highlights from the Web
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <a class="edit" href="{% url 'dashboard-highlights' %}">Add New Highlight</a>
    {% endif %}
</h2>

{% for highlight in highlights %}
<div class="showcase-splitter">
    <div class="img-placeholder">
        <a href="{{ highlight.url }}" target="_blank">
            {% if highlight.icon %}
            <img src="{{ highlight.icon.url }}">
            {% else %}
            <span class="img-placeholder">
                <span class="big">HIGHLIGHT</span><br>OF THE DAY
            </span>
            {% endif %}
        </a>
    </div>
    <div class="highlight">
        <p class="title">
            <a href="{{ highlight.url }}" target="_blank">{{ highlight.title }}</a>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <a class="edit" href="{% url 'dashboard-highlights' %}?highlight={{ highlight.id }}">edit</a>
            {% endif %}
        </p>
        <p class="subtitle"><a href="{{ highlight.url }}" target="_blank">{{ highlight.url }}</a></p>
        <div class="description">
            {{ highlight.description|safe }}
            <p class="date">{{ highlight.date_published|date:"F j, Y" }}</p>
        </div>
    </div>
</div>
{% empty %}
<p>There are no highlights in the database.</p>
{% endfor %}

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block side %}
<h2>Look at these goddamn links</h2>
<p>Hey maaan, these snippets from the internet are p. cool imo. You should check them out. I think you should waste a bunch of time looking at them. It's totally worth it.</p>
<hr>
<h2>Cool Links from the Web</h2>
<div class="link-box">
    <a class="reverse-color sidebar" href="https://www.facebook.com/CaldwellU" target="_blank">Caldwell University</a>
    <a class="reverse-color sidebar" href="http://standingontheoverpass.blogspot.com/" target="_blank">Standing on the Overpass</a>
    <hr class="smaller">
    <a class="reverse-color sidebar" href="http://www.somethingawful.com/" target="_blank">Something Awful</a>
    <a class="reverse-color sidebar" href="https://www.4chan.org/" target="_blank">4Chan</a>
    <hr class="smaller">
    <a class="reverse-color sidebar" href="http://www.gunnerkrigg.com/" target="_blank">Gunnerkrigg Court</a>
    <a class="reverse-color sidebar" href="http://www.octopuspie.com/" target="_blank">Octopus Pie</a>
    <a class="reverse-color sidebar" href="http://drmcninja.com/" target="_blank">Dr. McNinja</a>
    <a class="reverse-color sidebar" href="http://nedroid.com/" target="_blank">Nedroid Picture Diary</a>
    <a class="reverse-color sidebar" href="http://dresdencodak.com/" target="_blank">Dresden Codak</a>
    <a class="reverse-color sidebar" href="http://phuzzycomics.monicaray.com/" target="_blank">Phuzzy Comics</a>
    <a class="reverse-color sidebar" href="http://www.johnnywander.com/" target="_blank">Johnny Wander</a>
    <a class="reverse-color sidebar" href="http://bearmageddon.com/" target="_blank">Bearmageddon</a>
    <a class="reverse-color sidebar" href="http://cucumber.gigidigi.com/" target="_blank">Cucumber Quest</a>
    <a class="reverse-color sidebar" href="http://fanboys-online.com/" target="_blank">F@nboys</a>
    <a class="reverse-color sidebar" href="http://threepanelsoul.com/" target="_blank">Three Panel Soul</a>
    <a class="reverse-color sidebar" href="http://www.lackadaisycats.com/" target="_blank">Lackadaisy Cats</a>
    <a class="reverse-color sidebar" href="http://www.chickennation.com/comics/" target="_blank">Comics by Patrick Alexander</a>
    <hr class="smaller">
    <a class="reverse-color sidebar" href="http://podcasts.joerogan.net/" target="_blank">Joe Rogan Experience</a>
    <a class="reverse-color sidebar" href="http://www.siriusxm.com/opieradio" target="_blank">"Opie & Anthony"</a>
    <a class="reverse-color sidebar" href="http://dvdasa.com/index.php?title=Main_Page" target="_blank">DVDASA</a>
</div>
{% endblock %}