{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ideas.css' %}">
{% endblock %}

{% block content %}
<h2>Idea Catalog</h2>
<table class="catalog">
    <tbody>
    {% for idea in ideas %}
    <tr>
        <td>
            <div class="overlay">
                <a class="overlay" href="{% url 'idea-page' idea.slug %}"></a>
                <h3 title="{{ idea.slug }}">{{ idea.name }}</h3>
                <p>{{ idea.description }}</p>
            </div>
            <img src="{{ idea.icon.url }}" />
        </td>
    </tr>
    {% empty %}
    <p>There are no ideas in the catalog!</p>
    {% endfor %}
    </tbody>
</table>

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block side %}
<h3>About Ideas</h3>
<p>This is the Idea Catalog! Here are all the things going on in Slacker Paradise.</p>
<p>Every thought posted within an idea is related in a series. The thoughts you read are ordered chronologically and should present a logical, coherent progression of their "parent" idea with a beginning, middle, and end.</p>

{% if recent_thoughts %}
<hr>
<h3>Ideas Most Recently Updated</h3>
<table class="recent-ideas-list">
    <tbody>
    {% for thought in recent_thoughts %}
    <tr>
        <td>
            <p class="title">
                <a href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea.name }}</a>
            </p>
            <p class="small-title">
                <a class="reverse-color" href="{% url 'thought-page' thought.idea.slug thought.slug %}">{{ thought.title }}</a>
            </p>
            <div class="subtitle">{{ thought.content|safe }}</div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination_side %}
{% endblock %}