{% extends 'blog/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/idea.css' %}">
{% endblock %}

{% block content %}
<h1>{{ idea.name }}</h1>

{% for thought in thoughts %}
<div class="thought">
    <h3>{{ thought.title }}</h3>
    <p class="thought-author">by {{ thought.author }} on {{ thought.date_published }}</p>
    <hr class="thought-hr">
    <p>{{ thought.content }}</p>
    {% if not thought.date_published == thought.date_edited %}
    <p>{{ thought.date_edited }}</p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block footer %}
Similar thoughts:
{% endblock %}

{% block side %}
Stuff related to Idea.
{% endblock %}