{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/idea.css' %}">
{% endblock %}

{% block content %}
<h1>{{ idea.name }}</h1>
<img class="idea-banner" src="{{ idea.icon.url }}">

{% for thought in thoughts %}
<div class="thought">
    <p class="title">{{ thought.title }}</p>
    <p class="subtitle">by {{ thought.author }} on {{ thought.date_published }}</p>

    {% if thought.preview %}
    <img src="{{ thought.preview.url }}">
    {% endif %}

    <p>{{ thought.content|safe }}</p>

    {% if not thought.date_published == thought.date_edited %}
    <p>{{ thought.date_edited }}</p>
    {% endif %}

    <p>Permalink: <a href="{% url 'thought_detail' idea.slug thought.slug %}">{{ thought.slug }}</a></p>
</div>
{% empty %}
<p>This idea has no thoughts yet!</p>
{% endfor %}
{% endblock %}

{% block footer %}
Ideas similar to this:
{% endblock %}

{% block side %}
<h3>About this Idea</h3>
<p>{{ idea.description }}</p>
<hr>

<h3>Thought History</h3>
<p>[List of thoughts on page]</p>
<p>[pagination here]</p>
{% endblock %}