{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/idea.css' %}">
{% endblock %}

{% block content %}
<div class="idea-banner">
    <h1>{{ idea.name }}</h1>
    <img class="idea-banner" src="{{ idea.icon_small.url }}">
</div>

{% for thought in thoughts %}
<div class="thought">
    <p class="title"><a href="{% url 'thought-page' thought.idea.slug thought.slug %}">{{ thought.title }}</a></p>
    <p class="subtitle">by {{ thought.author }} on {{ thought.date_published|date:"F j, Y g:i A" }}
        {% if not thought.date_published == thought.date_edited %}
        (Edited {{ thought.date_edited|date:"F j, Y g:i A" }})
        {% endif %}
    </p>

    {% if thought.preview %}
    <img src="{{ thought.preview.url }}">
    {% endif %}

    <p>{{ thought.content|safe }}</p>
</div>
{% empty %}
<p>This idea has no thoughts yet!</p>
{% endfor %}

{% if thoughts %}
<p>[pagination]</p>
{% endif %}

{% endblock %}

{% block footer %}
Ideas similar to this:
{% endblock %}

{% block side %}
<h3>About this Idea</h3>
<p>{{ idea.description }}</p>
<hr>

<h3>Thought History</h3>
<p>[List of thoughts on page]</p>
<p>[pagination here]</p>
{% endblock %}