{% extends 'blog/template_default.html' %}
{% load staticfiles %}

{% block content %}
<h3>Idea Catalog</h3>

<table class="catalog">
    <tbody>
    {% for idea in ideas %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td>
            <a href="{% url 'idea_detail' idea.slug %}"><img src="{% static 'images/idea_icon_default.png' %}"></a>
            <h3 title="{{ idea.slug }}"><a href="{% url 'idea_detail' idea.slug %}">{{ idea.name }}</a></h3>
            <p>{{ idea.description }}</p>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}