{% extends "blog/template_default.html" %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<h1>Latest Thoughts:</h1>
<hr>

<!-- <div class="announcements">
    Important announcement here!
</div> -->

<div class="frontpage-story">
    <img class="left" src="{% static 'images/frontpage_top_story_placeholder.png' %}">
    {% if latest_thoughts|length == 0 %}
    <h2 class="headline">No content yet!</h2>
    <p>There are no thoughts in the database yet!!</p>
    {% else %}
    <a href="{% url 'idea_detail' latest_thoughts.0.idea.slug %}"><h2 class="headline" title="{{ latest_thoughts.0.slug }}">{{ latest_thoughts.0.title }}</h2></a>
    <p class="sub-headline">by {{ latest_thoughts.0.author }} on {{ latest_thoughts.0.date_published }}</p>
    <p>{{ latest_thoughts.0.content }}</p>
    {% endif %}
</div>


{% if latest_thoughts|length > 1 %}
<hr class="story-divider">
{% endif %}

{% for thought in latest_thoughts|slice:"1:" %}
<div class="frontpage-story frontpage-story-small {% cycle 'small-left' 'small-right' %}">
    <img class="left" src="{% static 'images/idea_icon_default.png' %}">
    <a href="{% url 'idea_detail' thought.idea.slug %}">
        <h3 class="headline">{{ thought.title }}</h3>
    </a>
    <p>{{ thought.content }}</p>
</div>
{% endfor %}
{% endblock %}