{% extends "blog/templates/template_default.html" %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <a href="{% url 'thought-page' latest_thought.idea.slug latest_thought.slug %}">
        <div class="large-12 columns showcase"
        {% if latest_thought.preview %}
        style="background-image: url('{{ latest_thought.preview.url }}');"
        {% else %}
        style="background-image: url('{{ latest_thought.idea.icon.url }}');"
        {% endif %}
        >

        <div class="text-overlay">
            <div>
                {% if not latest_thought %}
                <p class="title">No content yet!</p>
                <p>There are no thoughts in the database yet!!</p>
                {% else %}
                <p class="idea">{{ latest_thought.idea }}</p>
                <p class="title" title="{{ latest_thought.slug }}">{{ latest_thought.title }}</p>
                <p class="subtitle">by {{ latest_thought.author }} on {{ latest_thought.date_published|date:"F j, Y" }}</p>
                <p>{{ latest_thought.content|safe }}</p>
                {% endif %}
            </div>
        </div>
        </div>
    </a>

    {% if highlight %}
    <div class="large-12 columns showcase-splitter">
        <div class="highlight">
            <p class="highlight-category"><a class="reverse-color" href="{% url 'highlights' %}">Highlights from the web</a></p>
            <p class="title"><a href="{{ highlight.url }}" target="_blank">{{ highlight.title }}</a></p>
            <p class="subtitle"><a href="{{ highlight.url }}" target="_blank">{{ highlight.url }}</a></p>
            <div class="description">{{ highlight.description|safe }}</div>
        </div>
        <a href="{{ highlight.url }}" target="_blank">
            <div class="img-placeholder"
            {% if highlight.icon %}
            style="background-image: url('{{ highlight.icon.url }}');"
            {% else %}
            style="background-color: #F8C118;"
            {% endif %}
            >
            {% if not highlight.icon %}
            <span class="img-placeholder"><span class="big">HIGHLIGHT</span><br>OF THE DAY</span>
            {% endif %}
            </div>
        </a>
    </div>
    {% endif %}
</div>

{% if latest_thoughts %}
<hr class="story-separator">
{% endif %}

<ul class="small-block-grid-2 small-stories">
    {% for thought in latest_thoughts %}
    <li>
        <a href="{% url 'thought-page' thought.idea.slug thought.slug %}">
            <div class="img-placeholder"
            {% if thought.preview %}
            style="background-image: url({{ thought.preview.url }});"
            {% endif %}
            >

            {% if not thought.preview %}
            <span class="placeholder">SP</span>
            {% endif %}
            </div>
        </a>

        <p class="idea"><a class="reverse-color" href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea }}</a></p>
        <p class="title">
            <a href="{% url 'thought-page' thought.idea.slug thought.slug %}">{{ thought.title }}</a>
        </p>
        <p class="subtitle">by {{ thought.author }} on {{ thought.date_published|date:"F j, Y" }}</p>
        <p>{{ thought.content|safe }}</p>
    </li>
    {% endfor %}
</ul>

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}