{% extends "blog/template_default.html" %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<h1>Latest Thoughts:</h1>
<hr>

<!-- <div class="announcements">
    Important announcement here!
</div> -->

<div class="frontpage-story">
    <img class="left" src="{% static 'images/frontpage_top_story_placeholder.png' %}">
    {% if latest_thoughts|length == 0 %}
    <h2 class="headline">No content yet!</h2>
    <p>There are no thoughts in the database yet!!</p>
    {% else %}
    <a href="{% url 'idea_detail' latest_thoughts.0.idea.slug %}"><h2 class="headline" title="{{ latest_thoughts.0.slug }}">{{ latest_thoughts.0.title }}</h2></a>
    <p class="sub-headline">by {{ latest_thoughts.0.author }} on {{ latest_thoughts.0.date_published }}</p>
    <p>{{ latest_thoughts.0.content }}</p>
    {% endif %}
</div>


{% if latest_thoughts|length > 1 %}
<hr class="story-divider">
{% endif %}

{% for thought in latest_thoughts|slice:"1:" %}
<div class="frontpage-story frontpage-story-small {% cycle 'small-left' 'small-right' %}">
    <img class="left" src="{% static 'images/idea_icon_default.png' %}">
    <a href="{% url 'idea_detail' thought.idea.slug %}">
        <h3 class="headline">{{ thought.title }}</h3>
    </a>
    <p>{{ thought.content }}</p>
</div>
{% endfor %}
{% endblock %}

{% block side %}
<h3>the dolphins aren't all that</h3>
<p>I saw a nature special last night on Discovery or something about dolphins and how incredibly smart and whatever, y'know, they are, and I, to be honest I was drinking a little but still I was like, "whatever" I learned a little bit about dolphins in my Emerging Sciences class. I can tell you guys that dolphins are intelligent, but not as intelligent as you'd think an intelligent dolphin would be, kinda.</p>
<p>We (the U.S.) sort of discovered it by accident. I dunno if this is true, but I heard this guy went to this camera shop in Florida and was all, "I need all the 35mm rolls you got!" And the cashier is like, "Why, what's the deal" and the guy's like, "Well, there's these three dolphins under the pier over there talking about the ocean to this little kid, I gotta get this on film!" So the cashier, who happens to be in Mensa, goes down there, and sure enough, there's these three dolphin heads sticking out of the water yakkin' away about how big the ocean is to this teenager kid who's kind of looking around all dazed, like "what the fuck is this all about". So the Mensa op/cashier talks to the dolphins a little too and then phones it in to the command center, and it all kind of took off from there.</p>
<p>I guess it was pretty wild for a little bit then, because the Russians found out and were all tryin' to get in on it, and it was pretty tense, but then the dolphins were like, we'll talk to whichever country can beat our best, like, dolphin in chess, and we brought in Fischer, and that was pretty much that. So you can thank him that all the dolphins aren't Russian right now.</p>
<p>... make sure this doesn't exceed height of content + footer...</p>
{% endblock %}
