{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<h2>Link of the Day</h2>

{% for link in links %}
<div class="showcase-splitter">
    <div class="link">
        <p class="title"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></p>
        <p class="subtitle"><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
        <p>{{ link.description }}</p>

        <p class="date">{{ link.date_published|date:"F j, Y" }}</p>
    </div>
    <a href="{{ link.url }}" target="_blank">
        <div class="img-placeholder"
        {% if link.icon %}
        style="background-image: url('{{ link.icon.url }}');"
        {% endif %}
        >
        {% if not link.icon %}
        <span class="img-placeholder"><span class="big">LINK</span><br>OF THE DAY</span>
        {% endif %}
        </div>
    </a>
</div>
{% empty %}
<p>There are no links in the database.</p>
{% endfor %}

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}

{% block side %}
<h2>Look at these goddamn links</h2>
<p>They are from the internet and I think you should waste a whole bunch of your time to look at them.</p>
<hr>
<h2>Other Cool Links from the Web</h2>
<div class="link-box">
    <p><a class="reverse-color sidebar" href="https://www.facebook.com/CaldwellU" target="_blank">Caldwell University</a></p>
    <p><a class="reverse-color sidebar" href="http://standingontheoverpass.blogspot.com/" target="_blank">Standing on the Overpass</a></p>
    <hr class="smaller">
    <p><a class="reverse-color sidebar" href="http://www.somethingawful.com/" target="_blank">Something Awful</a></p>
    <p><a class="reverse-color sidebar" href="https://www.4chan.org/" target="_blank">4Chan</a></p>
    <hr class="smaller">
    <p><a class="reverse-color sidebar" href="http://www.gunnerkrigg.com/" target="_blank">Gunnerkrigg Court</a></p>
    <p><a class="reverse-color sidebar" href="http://www.octopuspie.com/" target="_blank">Octopus Pie</a></p>
    <p><a class="reverse-color sidebar" href="http://drmcninja.com/" target="_blank">Dr. McNinja</a></p>
    <p><a class="reverse-color sidebar" href="http://nedroid.com/" target="_blank">Nedroid Picture Diary</a></p>
    <p><a class="reverse-color sidebar" href="http://dresdencodak.com/" target="_blank">Dresden Codak</a></p>
    <p><a class="reverse-color sidebar" href="http://phuzzycomics.monicaray.com/" target="_blank">Phuzzy Comics</a></p>
    <p><a class="reverse-color sidebar" href="http://www.johnnywander.com/" target="_blank">Johnny Wander</a></p>
    <p><a class="reverse-color sidebar" href="http://bearmageddon.com/" target="_blank">Bearmageddon</a></p>
    <p><a class="reverse-color sidebar" href="http://cucumber.gigidigi.com/" target="_blank">Cucumber Quest</a></p>
    <p><a class="reverse-color sidebar" href="http://fanboys-online.com/" target="_blank">F@nboys</a></p>
    <p><a class="reverse-color sidebar" href="http://threepanelsoul.com/" target="_blank">Three Panel Soul</a></p>
    <p><a class="reverse-color sidebar" href="http://www.lackadaisycats.com/" target="_blank">Lackadaisy Cats</a></p>
    <p><a class="reverse-color sidebar" href="http://www.chickennation.com/comics/" target="_blank">Comics by Patrick Alexander</a></p>

    <p><a class="reverse-color sidebar" href="" target="_blank"></a></p>
</div>
{% endblock %}