{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/front.css' %}">
{% endblock %}

{% block content %}
<h2>Link of the Day</h2>

{% for link in links %}
<div class="showcase-splitter">
    <div class="link">
        <p class="title"><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></p>
        <p class="subtitle"><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
        <p>{{ link.description }}</p>

        <p class="date">{{ link.date_published|date:"F j, Y" }}</p>
    </div>
    <a href="{{ link.url }}" target="_blank">
        <div class="img-placeholder"
        {% if link.icon %}
        style="background-image: url('{{ link.icon.url }}');"
        {% endif %}
        >
        {% if not link.icon %}
        <span class="img-placeholder"><span class="big">LINK</span><br>OF THE DAY</span>
        {% endif %}
        </div>
    </a>
</div>
{% empty %}
<p>There are no links in the database.</p>
{% endfor %}

{% include "blog/templates/template_pagination.html" with paginator=paginator pages=pagination %}
{% endblock %}