{% extends "blog/templates/template_default.html" %}

{% block content %}
{% if not user.is_authenticated %}
<p>Please enter in your credentials:</p>

<form class="login-form" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
        <tbody>
        <tr>
            <td class="shrink">{{ login_form.username.label_tag }}</td>
            <td>{{ login_form.username }}</td>
        </tr>
        <tr>
            <td class="shrink">{{ login_form.password.label_tag }}</td>
            <td>{{ login_form.password }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login"></td>
        </tr>
        </tbody>
    </table>
</form>
{% endif %}
{% endblock %}
