<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SP :: {{ page_title }}</title>

    <!-- css includes -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">

    <!-- script includes -->
    <script type="text/javascript" src="{% static 'script/framework.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/blog.js' %}"></script>

    {% block http_headers %}
    <!-- template specific head tags should be added here -->
    {% endblock %}
</head>
<body>

<div id="c-header">
    <h1><a href="{% url 'index' %}">Slacker Paradise</a></h1>
</div>

<div id="c-body" class="group">
    <div id="c-content">
        {% include 'blog/template_nav.html' %}

        <div id="c-content-inner">
            {% if messages %}
            <!-- flash message area -->
            <ul class="messages" style="list-style-type: none; color: red; font-weight: bold">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- main content -->
            {% block content %}
            There is no content on this page.
            {% endblock %}
        </div>

        <!-- footer -->
        <div id="c-footer">
            {% block footer %}
            {% endblock %}
        </div>
    </div>

    <!-- side content -->
    <div id="c-side">
        <div id="c-side-inner">
            {% block side %}
            <p>Sidebar content.</p>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>