<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SP :: {{ page_title }}</title>

    <!-- css includes -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">

    <!-- script includes -->
    <script type="text/javascript" src="{% static 'script/framework.js' %}"></script>
    <script type="text/javascript" src="{% static 'script/blog.js' %}"></script>

    {% block http_headers %}
    <!-- template specific head tags should be added here -->
    {% endblock %}
</head>
<body>

<div id="c-header">
    <h1><a href="{% url 'index' %}">Slacker Paradise</a></h1>
</div>

<div id="c-body" class="group">
    {% include 'blog/template_nav.html' %}

    <div id="c-content">
        <div id="c-content-inner" class="group">
            {% if messages %}
            <!-- flash message area -->
            <ul class="messages" style="list-style-type: none; color: red; font-weight: bold">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- main content -->
            {% block content %}
            There is no content on this page.
            {% endblock %}
        </div>

        <!-- footer -->
        <div id="c-footer">
            {% block footer %}
            <p>"Trending" ideas/thoughts</p>
            <p>Copyright 2014 - 2015, Cory Parsnipson</p>
            <p>Contact Us:<br>Cory Parsnipson<br>PO Box 190461<br>San Francisco, CA 94119</p>
            {% endblock %}
        </div>
    </div>

    <!-- side content -->
    <div id="c-side">
        <div id="c-side-inner">
            {% block side %}
            <div class="link-box">
                <p>Links to check out:</p>
            </div>
            <a class="twitter-timeline" href="https://twitter.com/CoryParsnipson" data-widget-id="545825292225236992">Tweets by @CoryParsnipson</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            <div class="link-box">
                <p>Cool links for kool peeple:</p>
                <p><a href="https://www.facebook.com/CaldwellU">Caldwell University</a></p>
            </div>
            <hr>
            <div class="group" style="margin: 0 auto">
                <a href="https://www.facebook.com/cory.parsnipson" target="_blank"><img class="link-icon" src="{% static 'images/link_icon_facebook.png' %}"></a>
                <a href="https://twitter.com/CoryParsnipson" target="_blank"><img class="link-icon" src="{% static 'images/link_icon_twitter.png' %}"></a>
                <a href="https://github.com/CoryParsnipson" target="_blank"><img class="link-icon" src="{% static 'images/link_icon_github.png' %}"></a>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>