{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thought.css' %}">
{% endblock %}

{% block content %}
<p class="idea"><a class="reverse-color" href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea }}</a></p>
<p class="title">{{ thought.title }} {% if thought.is_draft %}[Draft]{% endif %}</p>
<p class="subtitle">by {{ thought.author }} on {{ thought.date_published }}
    {% if not thought.date_published == thought.date_edited %}
    (Edited {{ thought.date_edited|date:"F j, Y g:i A" }})
    {% endif %}
</p>

{% if thought.preview %}
<img src="{{ thought.preview.url }}">
{% else %}
<img src="{{ thought.idea.icon.url }}">
{% endif %}

<div class="content">{{ thought.content|safe }}</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'slackerparadise';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block side %}
{% if next_thoughts %}
<table class="thought-nav">
    <tbody>
    <tr><th>Next</th></tr>
    {% for next_thought in next_thoughts reversed %}
    <tr>
        <td>
            {% if next_thought %}
            <a href="{% url 'thought-page' next_thought.idea.slug next_thought.slug %}">
                <img src="{{ next_thought.get_preview|default_if_none:thought.idea.icon.url }}">
                <p>{{ next_thought.title }}</p>
            </a>
            {% else %}
            <div class="nav-placeholder">
                <p>&nbsp;</p>
                <span>SP</span>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<hr>

{% if prev_thoughts %}
<table class="thought-nav">
    <tbody>
    <tr><th>Previous</th></tr>
    {% for prev_thought in prev_thoughts %}
    <tr>
        <td>
            {% if prev_thought %}
            <a href="{% url 'thought-page' prev_thought.idea.slug prev_thought.slug %}">
                <img src="{{ prev_thought.get_preview|default_if_none:thought.idea.icon.url }}">
                <p>{{ prev_thought.title }}</p>
            </a>
            {% else %}
            <div class="nav-placeholder">
                <p>&nbsp;</p>
                <span>SP</span>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<hr>

<h3>This Thought is part of <a href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea.name }}</a></h3>
<p>{{ thought.idea.description }}</p>
{% endblock %}

{% block footer %}
<h3>More in <a href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea.name }}</a>:</h3>
<table class="thought-nav">
    <tbody>
    <tr><th>Previous</th></tr>
    <tr>
        <td>
            {% if prev_thoughts and prev_thoughts.0 %}
            <a href="{% url 'thought-page' prev_thoughts.0.idea.slug prev_thoughts.0.slug %}">
                <img src="{{ prev_thoughts.0.get_preview|default_if_none:prev_thoughts.0.idea.icon.url }}">
                <p>{{ prev_thoughts.0.title }}</p>
            </a>
            {% else %}
            <div class="nav-placeholder">
                <p>&nbsp;</p>
                <span>SP</span>
            </div>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

<table class="thought-nav">
    <tbody>
    <tr><th>Next</th></tr>
    <tr>
        <td>
            {% if next_thoughts and next_thoughts.0 %}
            <a href="{% url 'thought-page' next_thoughts.0.idea.slug next_thoughts.0.slug %}">
                <img src="{{ next_thoughts.0.get_preview|default_if_none:next_thoughts.0.idea.icon.url }}">
                <p>{{ next_thoughts.0.title }}</p>
            </a>
            {% else %}
            <div class="nav-placeholder">
                <p>&nbsp;</p>
                <span>SP</span>
            </div>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}