{% extends 'blog/templates/template_default.html' %}
{% load staticfiles %}
{% load blog_extras %}

{% block http_headers %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thought.css' %}">
{% endblock %}

{% block content %}
<p class="idea"><a class="reverse-color" href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea }}</a></p>
<p class="title">{{ thought.title }}
    {% if thought.is_draft %}<span class="edit">draft</span>{% endif %}
    {% if request.user.is_authenticated and request.user.is_superuser %}
    <a class="edit" href="{% url 'dashboard-author' %}?thought_slug={{ thought.slug }}">edit</a>
    {% endif %}
</p>
<p class="subtitle">by {{ thought.author }} on {{ thought.date_published|date:"F j, Y g:i A" }}
    {% if thought.is_edited %}
    (Edited {{ thought.date_edited|date:"F j, Y g:i A" }})
    {% endif %}
</p>

<img class="preview" src="{{ thought.get_preview }}" />
<div class="content">{{ thought.content|safe }}</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'slackerparadise';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block side %}
{% thought_nav thought direction='next' header='Next' %}
<hr>
{% thought_nav thought direction='prev' header='Previous' length=3 %}
<hr>

<h3>This Thought is part of <a href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea.name }}</a></h3>
<p>{{ thought.idea.description }}</p>
{% endblock %}

{% block footer %}
<h3>More in <a href="{% url 'idea-page' thought.idea.slug %}">{{ thought.idea.name }}</a>:</h3>

<ul class="small-block-grid-1 medium-block-grid-2 outer-nested-list">
    <li>{% thought_nav thought direction='prev' header='Previous' %}</li>
    <li>{% thought_nav thought direction='next' header='Next' %}</li>
</ul>
{% endblock %}