{% extends "blog/default_page.html" %}

{% block content %}
<!-- variables passed from back end -->
<input type="hidden" name="be_idea_detail_url" value="{% url 'idea_detail' 0 %}">
<input type="hidden" name="be_csrf_token" value="{% csrf_token %}">

<!-- page start -->
<h1><a href="{% url 'index' %}">Slacker Paradise</a> :: Dashboard</h1>

<h2>Ideas:</h2>
<ul id="idea_list"></ul>
<hr>
<div id="form_idea_container"></div>

<script type="text/javascript">
var be_params = getBeParams();

function getIdeas(ideas)
{
  var list_html = "";

  // idea detail url
  var idea_url = be_params["be_idea_detail_url"];
  idea_url = idea_url.substring(0, idea_url.length - 1);

  for (var i = 0; i < ideas.length; i++)
  {
    list_html += "<li>";
    list_html += "<a href=" + idea_url + (i + 1) + ">";
    list_html += ideas[i].name + "</a>: ";
    list_html += ideas[i].description + "</li>\n";
  }

  document.getElementById("idea_list").innerHTML = list_html;
}
ajax("/api/ideas", "GET", getIdeas);

// create Idea form
function populateIdeaForm(form_data)
{
  var form = createForm("form_idea",
                        "{% url 'forms-idea' %}",
                        "post",
                        be_params["be_csrf_token"],
                        form_data["form"],
                        "New Idea");

  // add a little header
  var tbody = form.getElementsByTagName("tbody")[0];
  tbody.insertRow(0);
  tbody.rows[0].insertCell(0);
  tbody.rows[0].cells[0].innerHTML = "<h3>New Idea:</h3>";

  document.getElementById("form_idea_container").appendChild(form);
}
ajax("{% url 'forms-idea' %}", "GET", populateIdeaForm);
</script>
{% endblock %}