{% extends "blog/default_page.html" %}

{% block content %}
<!-- variables passed from back end -->
<input type="hidden" name="be_idea_id" value="{{ idea_id }}">
<input type="hidden" name="be_csrf_token" value="{% csrf_token %}">

<!-- content start -->
<h1 id="idea_name"></h1>
<p id="idea_description"></p>
<p>Latest thoughts:</p>
<div id="thought_list"></div>

<form id="form_idea_add" action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>

<script type="text/javascript">
  // obtain any back end parameters
  var beParams = getBeParams();

  function getIdeaInfo(idea)
  {
    document.getElementById("idea_name").innerHTML = idea.name;
    document.getElementById("idea_description").innerHTML = idea.description;
  }

  ajax("/api/ideas/" + beParams["be_idea_id"], "GET", getIdeaInfo);

  // populate thoughts list
  function populateThoughtList(thoughts)
  {
    var thought_list = document.getElementById("thought_list");

    var thought_html = "";
    for (var thought_idx = 0; thought_idx < thoughts.length; thought_idx++)
    {
      thought_html += "<p style='font-weight: bold;'>" + thoughts[thought_idx].title + "</p>";
      thought_html += "<p>" + thoughts[thought_idx].content + "</p>";
      thought_html += "<hr>\n";
    }
    thought_list.innerHTML = thought_html;
  }

  ajax("/api/ideas/" + beParams["be_idea_id"] + "/thoughts/", "GET", populateThoughtList);

  // TEST!!
  function populateForm(form)
  {
    var form_container = document.getElementById("form_idea_add");
    var form_content = document.createDocumentFragment();
    var parser = new DOMParser();
    var form_html = parser.parseFromString(form["form"], "text/html");

    form_content.appendChild(form_html.firstChild);
    form_container.insertBefore(form_content, form_container.firstChild);
  }
  ajax("/api/forms/ideas/", "GET", populateForm);
</script>
{% endblock %}