/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general css rules
 *****************************************************************************/

body {
  background-color: #D893DB;
}

hr {
  height: 1px;
  border-width: 0;
  color: #000000;
  background-color: #000000;
  margin: 10px 0;
}

/******************************************************************************
 * text styles
 *****************************************************************************/

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

p, body, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Arial, sans-serif;
  font-size: 11pt;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

p {
  line-height: 1.2em;
}

/******************************************************************************
 * custom grid styles
 *****************************************************************************/

.row .row {
  margin: 0; /* reset inner foundation margin */
}

.column, .columns {
  padding: 5px; /* overwrite foundation padding */
}

#header {
  background-color: #ECB7AB;
}

#nav {
  padding: 0;
}

#content {
  overflow: hidden;
  background-color: #64ABDE;
}

#side {
  background-color: #DEC564;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

#footer {
  min-height: 200px;
  background-color: #A69B6D;
}

/******************************************************************************
 * top bar styles
 *****************************************************************************/

.top-bar {
  background-color: mediumSeaGreen;
}

/******************************************************************************
 * link styles
 *****************************************************************************/

a {
  color: #A60303;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * tables general
 *****************************************************************************/

table, table tr.even, table tr:nth-of-type(even) {
  border: none;
  background-color: transparent;
}

/******************************************************************************
 * tables - thought
 *****************************************************************************/

table.form-thought {
  width: 100%;
}

table.form-thought label {
  cursor: initial; /* wtf? odd decision by foundation to change this */
  font-weight: bold;
}

table.form-thought th {
  width: 1px; /* shrink to fit content */
  text-align: right;
  vertical-align: middle;
  padding: 0 5px;
}

table.form-thought textarea {
  resize: none;
}

table.form-thought select {
  width: auto;
  padding: 2px;
}

/******************************************************************************
 * input general
 *****************************************************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  height: 1.5rem;
  margin: 0;
  padding: 2px;
}

select {
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

/******************************************************************************
 * tables - editable list styles
 *****************************************************************************/

table.editable
{
  width: 100%;
  font-size: 9pt;
}

table.editable tr.header
{
  font-weight: bold;
}

table.editable tr td
{
  background-color: #CFCFCF;
  border: 1px solid #A6A6A6;
  padding: 7px 3px;
}

table.editable input[type="checkbox"]
{
  display: block;
}

table.editable input[type="button"]
{
  width: 100%;
}

/******************************************************************************
 * editable ul
 *****************************************************************************/

ul.editable
{
  background-color: pink;
  list-style-type: none;
}

ul.editable li
{
  float: left;
  padding: 3px;
}

ul.editable input[type="checkbox"]
{
  margin-top: 2px;
  margin-left: 1px;
}

ul.editable-pages
{
  background-color: #CFCFCF;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.editable-pages li
{
  float: left;
  padding: 3px 7px;
}

ul.editable-pages li.current-page
{
  font-weight: bold;
  background-color: #A6A6A6;
}

/******************************************************************************
 * tables catalog
 *****************************************************************************/

table.catalog
{
  width: 100%;
}

table.catalog tr.even
{
  background-color: #E0E0E0;
}

table.catalog tr.even:hover
{
  background-color: #D12308;
}

table.catalog tr.odd
{

}

table.catalog tr.odd:hover
{
  background-color: #D12308;
}

table.catalog td
{
  vertical-align: top;
  padding: 10px;
}

table.catalog img
{
  float: left;
  padding-right: 10px;
}

/******************************************************************************
 * Tables - Thought history
 *****************************************************************************/
table.thought-history
{
  background-color: orange;
  margin-bottom: 2em;
}

table.thought-history td
{
  padding: 3px;
}

/******************************************************************************
 * Images
 *****************************************************************************/

img
{
  display: block;
}

img.left
{
  float: left;
  padding-right: 10px;
}

img.right
{
  float: right;
  padding-left: 10px;
}

img.link-icon
{
  float: left;
  margin: 5px;
}

/******************************************************************************
 * Sidebar link box
 *****************************************************************************/

.link-box
{
  height: 200px;
  background-color: brown;
  margin-bottom: 25px;
}

/******************************************************************************
 * Twitter widget
 *****************************************************************************/

.twitter-timeline
{
  height: 350px;
  margin-bottom: 25px;
}