/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * General css rules
 *****************************************************************************/

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

body
{
  color: #333333;
  background-color: #D893DB;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 11pt;
  text-align: justify;
}

hr
{
  height: 1px;
  border-width: 0;
  color: #000000;
  background-color: #000000;
  margin: 10px 0;
}

/******************************************************************************
 * custom grid styles
 *****************************************************************************/

#header {
  background-color: #ECB7AB;
}

#nav {
  padding: 0;
}

#content {
  background-color: #64ABDE;
}

.side {
  background-color: #DEC564;
}

#footer {
  background-color: #A69B6D;
}

/******************************************************************************
 * top bar styles
 *****************************************************************************/

.top-bar {
  background-color: mediumSeaGreen;
}

.top-bar-section ul li {
  background-color: gainsboro;
}

/******************************************************************************
 * text styles
 *****************************************************************************/
h1 {
  font-size: 14pt;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

p {
  line-height: 1.2em;
}


/******************************************************************************
 * Links
 *****************************************************************************/

a
{
  color: #A60303;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color: #FFFFFF;
}

/******************************************************************************
 * Tables
 *****************************************************************************/

table
{
  border-collapse: collapse;
}

/******************************************************************************
 * Tables - Editable list (for easily modifying stuff)
 *****************************************************************************/

table.editable
{
  width: 100%;
  font-size: 9pt;
}

table.editable tr.header
{
  font-weight: bold;
}

table.editable tr td
{
  background-color: #CFCFCF;
  border: 1px solid #A6A6A6;
  padding: 7px 3px;
}

table.editable input[type="checkbox"]
{
  display: block;
}

table.editable input[type="button"]
{
  width: 100%;
}

/******************************************************************************
 * editable ul
 *****************************************************************************/

ul.editable
{
  background-color: pink;
  list-style-type: none;
}

ul.editable li
{
  float: left;
  padding: 3px;
}

ul.editable input[type="checkbox"]
{
  margin-top: 2px;
  margin-left: 1px;
}

ul.editable-pages
{
  background-color: #CFCFCF;
  list-style-type: none;
  margin-bottom: 2em;
}

ul.editable-pages li
{
  float: left;
  padding: 3px 7px;
}

ul.editable-pages li.current-page
{
  font-weight: bold;
  background-color: #A6A6A6;
}

/******************************************************************************
 * Tables - Catalog
 *****************************************************************************/

table.catalog
{
  width: 100%;
}

table.catalog tr.even
{
  background-color: #E0E0E0;
}

table.catalog tr.even:hover
{
  background-color: #D12308;
}

table.catalog tr.odd
{

}

table.catalog tr.odd:hover
{
  background-color: #D12308;
}

table.catalog td
{
  vertical-align: top;
  padding: 10px;
}

table.catalog img
{
  float: left;
  padding-right: 10px;
}

/******************************************************************************
 * Tables - Thought
 *****************************************************************************/

table.form-thought
{
  width: 100%;
}

table.form-thought th
{
  width: 1px; /* shrink to fit content */
  text-align: right;
  vertical-align: top;
  padding: 0 5px;
}

table.form-thought td
{
}

table.form-thought input[type="text"]
{
  width: 99%;
  padding: 2px;
  margin-bottom: 5px;
}

table.form-thought input[type="submit"]
{
  padding: 2px;
}

table.form-thought textarea
{
  width: 99%;
  resize: none;
  padding: 2px 3px;
  margin-bottom: 5px;
}

table.form-thought select
{
  padding: 2px;
}

/******************************************************************************
 * Tables - Thought history
 *****************************************************************************/
table.thought-history
{
  background-color: orange;
  margin-bottom: 2em;
}

table.thought-history td
{
  padding: 3px;
}

/******************************************************************************
 * Images
 *****************************************************************************/

img
{
  display: block;
}

img.left
{
  float: left;
  padding-right: 10px;
}

img.right
{
  float: right;
  padding-left: 10px;
}

img.link-icon
{
  float: left;
  margin: 5px;
}

/******************************************************************************
 * Sidebar link box
 *****************************************************************************/

.link-box
{
  height: 200px;
  background-color: brown;
  margin-bottom: 25px;
}

/******************************************************************************
 * Twitter widget
 *****************************************************************************/

.twitter-timeline
{
  height: 350px;
  margin-bottom: 25px;
}