/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

* { margin: 0; padding: 0; }
html { height: 100%; }

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

body
{
  height: 100%;
  color: #333333;
  background-color: #D893DB;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 11pt;
  text-align: justify;
}

ul.nav
{
  width: 100%;
  height: 2em;
  position: absolute;
  background-color: #5AAD74;
  top: -3em;
}

ul.nav li
{
  display: inline-block;
  float: left;
}

ul.nav li.right_justified
{
  float: right;
}

ul.nav li a
{
  text-decoration: none;
  padding: 5px;
  float: left;
}

ul.nav li a:hover
{
  background-color: #86D19D;
}

table.catalog
{
  background-color: green;
}

a
{
  color: inherit;
  font-weight: bold;
}

.group
{
  content: "";
  display: table;
  clear: both;
}

h1
{
  font-size: 14pt;
  margin-bottom: 0.5em;
}

h2 {}
h3
{
  font-size: inherit;
  margin-bottom: 0.5em;
}

p
{
  margin-bottom: 1em;
}

hr
{
  height: 1px;
  border-width: 0;
  color: #000000;
  background-color: #000000;
  margin: 10px 0;
}

table
{
  border-collapse: collapse;
}

table.editable
{
  width: 100%;
}

table.editable tr td
{
  background-color: #CFCFCF;
  border: 1px solid #A6A6A6;
  padding: 5px;
}

img
{
  display: block;
}