/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general css rules
 *****************************************************************************/

body {
  background-color: #D893DB;
}

hr {
  height: 1px;
  border-width: 0;
  color: #000000;
  background-color: #000000;
  margin: 10px 0;
}

/******************************************************************************
 * text styles
 *****************************************************************************/

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

p, body, ul, h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Arial, sans-serif;
  font-size: 11pt;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 14pt;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
}

p {
  line-height: 1.5em;
}

/******************************************************************************
 * custom grid styles
 *****************************************************************************/

.row .row {
  margin: 0; /* reset inner foundation margin */
}

.column, .columns {
  padding: 5px; /* overwrite foundation padding */
}

#header {
  background-color: #ECB7AB;
}

#nav {
  padding: 0;
  margin: 0;
}

#nav-2 {
  padding: 0;
}

#content {
  background-color: #64ABDE;
}

#side {
  background-color: #DEC564;
}

#footer {
  min-height: 200px;
  background-color: #A69B6D;
}

/******************************************************************************
 * top bar styles
 *****************************************************************************/

.top-bar {
  background-color: mediumSeaGreen;
}

/******************************************************************************
 * tables general
 *****************************************************************************/

table, table tr.even, table tr:nth-of-type(even) {
  border: none;
  background-color: transparent;
  margin: 0;
}

/******************************************************************************
 * tables catalog
 *****************************************************************************/

table.catalog {
  width: 100%;
}

table.catalog tr.even, table.catalog tr:nth-of-type(even) {
  background-color: #E0E0E0;
}

table.catalog img {
  float: left;
  padding-right: 10px;
}

/******************************************************************************
 * tables - editable list styles
 *****************************************************************************/

table.editable {
  width: 100%;
  font-size: 9pt;
}

table.editable tr:first-child {
  font-weight: bold;
}

table.editable tr td {
  background-color: #CFCFCF;
  border: 1px solid #A6A6A6;
  padding: 7px 3px;
}

table.editable tr td.button-box {
  width: 1px; /* as small as possible */
}

table.editable input[type="button"] {
  width: 2rem;
}

/******************************************************************************
 * input general
 *****************************************************************************/

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  height: 1.5rem;
  margin: 0;
  padding: 2px;
}

select {
  height: 1.5rem;
  margin: 0;
  padding: 0;
}

textarea[rows] {
  min-height: initial; /* override foundation setting */
}

/******************************************************************************
 * input button styles
 *****************************************************************************/

input[type=button], input[type="submit"] {
  border: 1px solid black;
  padding: 2px 7px;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #FFFFFF;
}

input[type="button"]:active, input[type="submit"]:active {
  background-color: #BBBBBB;
}

/******************************************************************************
 * link styles
 *****************************************************************************/

a {
  color: #A60303;
  text-decoration: none;
}

a[name], a[name]:hover {
  color: inherit;
  cursor: initial;
}

a:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * link based button styles
 *****************************************************************************/

.top-button {
  opacity: 0;
  background-color: gainsboro;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
}

.top-button:hover {
  opacity: 1;
}

/******************************************************************************
 * ul pagination styles
 *****************************************************************************/

ul.pagination li a {
  background-color: gainsboro;
}

/******************************************************************************
 * ul messages styles
 *****************************************************************************/

ul.messages {
  color: #FFFFFF;
  background-color: #B00000;
  list-style-type: none;
  border-radius: 3px;
  margin: 0;
  padding: 2px 5px;
}

/******************************************************************************
 * Tables - Thought history
 *****************************************************************************/
table.thought-history
{
  background-color: orange;
  margin-bottom: 2em;
}

table.thought-history td
{
  padding: 3px;
}

/******************************************************************************
 * Images
 *****************************************************************************/

img
{
  display: block;
}

img.left
{
  float: left;
  padding-right: 10px;
}

img.right
{
  float: right;
  padding-left: 10px;
}

img.link-icon
{
  float: left;
  margin: 5px;
}

/******************************************************************************
 * Sidebar link box
 *****************************************************************************/

.link-box
{
  height: 200px;
  background-color: brown;
  margin-bottom: 25px;
}

/******************************************************************************
 * Twitter widget
 *****************************************************************************/

.twitter-timeline
{
  height: 350px;
  margin-bottom: 25px;
}