/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general styles
 *****************************************************************************/
* {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  color: #FFFFFF;
  background-color: #494949;
  font-family: Roboto, "San-Serif";
  font-size: 11pt;
  text-align: justify;
  line-height: 1.2rem;
}

.group {
  content: "";
  display: table;
  clear: both;
}

.top-button {
  color: #FFFFFF;
  background-color: #959595;
  text-align: center;
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
}

.top-button h1 {
  color: #FFFFFF;
  text-transform: uppercase;
}

.top-button:hover {
  opacity: 1;
}

/******************************************************************************
 * hr styles
 *****************************************************************************/
hr {
  height: 1px;
  width: 100%;
  color: #B7B7B7;
  background-color: #B7B7B7;
  border-collapse: collapse;
  border-style: none;
  margin: 1rem 0;
}

/******************************************************************************
 * text styles
 *****************************************************************************/
a {
  color: #F8C118;
  text-decoration: none;
}

h1, h2, h3 {
  color: #F8C118;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 1rem;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal;
}

div#footer h3 {
  color: #A80505;
  font-size: 11pt;
  font-family: 'Eurostile Black';
  text-transform: uppercase;
  text-shadow: 0px 0px 2px rgba(168, 5, 5, 0.3);
}

p {
  margin-bottom: 1rem;
}

.right-justify {
  text-align: right;
}

.left-justify {
  text-align: left;
}

/******************************************************************************
 * blockquote and cite styles
 *****************************************************************************/
blockquote {
  position: relative;
  border-left: 3px solid #F8C118;
  padding: 0.5rem 1rem 0.5rem;
  margin: 0.5rem;
}

blockquote:before {
  content: "\201C";
  color: #B7B7B7;
  font-family: "Sigmar One";
  font-size: 22pt;
  display: block;
  margin-bottom: 1rem;
}

cite {
  width: 100%;
  color: #B7B7B7;
  display: inline-block;
  text-align: right;
  margin-top: 1rem;
}

cite:before {
  content: "--";
  padding-right: 0.3rem;
}

/******************************************************************************
 * img styles
 *****************************************************************************/
img.left {
  margin-right: 10px;
}

img.right {
  margin-left: 10px;
}

.link-icon {
  padding-right: 10px;
}

/******************************************************************************
 * logo styles
 *****************************************************************************/
span.logo {
  color: #A80505;
  font-family: 'Eurostile Black';
  font-size: 20pt;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px rgba(168, 5, 5, 0.3);
  padding: 10px 5px;
}

span.footer-copyleft {
  color: #A80505;
  font-size: 8pt;
  font-family: 'Eurostile Black';
  font-weight: bold;
  text-shadow: 0px 0px 1px rgba(168, 5, 5, 0.3);
}

/******************************************************************************
 * structural styles
 *****************************************************************************/
.row {
  /* override foundation style */
  max-width: 950px;
}

#header {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
}

#content {
  color: #FFFFFF;
  background-color: #383838;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.15),
                      -3px 0px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.15),
                   -3px 0px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.15),
              -3px 0px 10px 0px rgba(0,0,0,0.15);
  padding: 15px 20px;
}

#content-main {

}

#content-side {
  padding-left: 20px;
}

#footer {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
}

#footer div.columns {
  padding: 10px;
}

/******************************************************************************
 * list styles - general
 *****************************************************************************/
ul {
  list-style-position: inside;
  margin-bottom: 1rem;
}

/******************************************************************************
 * list styles - navigation
 *****************************************************************************/
nav {
  float: right;
}

nav > ul {
  list-style-type: none;
  margin: 0;
}

nav > ul li {
  display: block;
  float: left;
}

nav > ul li:hover {
  color: #FFFFFF;
  background-color: #EBB100;
}

nav > ul li a {
  color: #A80505;
  display: block;
  padding: 10px 15px;
}

nav > ul li a:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * list styles - flash messages
 *****************************************************************************/
ul.messages {
  list-style-type: none;
}

ul.messages li {
  color: #383838;
  background-color: #F8C118;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

ul.messages .success {
  color: #157A2D;
  background-color: #71E38C;
}

ul.messages .error {
  color: #F8C118;
  background-color: #A80505;
}

/******************************************************************************
 * table styles - general
 *****************************************************************************/
.expand {
  width: 100%;
}

.shrink {
  width: 1px; /* as small as possible! */
  white-space: nowrap;
}

/******************************************************************************
 * input styles
 *****************************************************************************/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  width: 100%;
  font-family: Roboto;
}

/******************************************************************************
 * sidebar box styles
 *****************************************************************************/
.side-box {
  background-color: salmon;
  margin-bottom: 10px;
}

.side-box h3 {
  font-size: 11pt;
  margin-bottom: 1rem;
}