/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general styles
 *****************************************************************************/
* {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  color: #DEDEDE;
  background-color: #383838;
  font-family: Roboto, "San-Serif";
  font-size: 11pt;
  text-align: justify;
  line-height: 1.2rem;
}

.group {
  content: "";
  display: table;
  clear: both;
}

.twitter-timeline {
  margin-bottom: 1rem;
}

/******************************************************************************
 * hr styles
 *****************************************************************************/
hr {
  height: 1px;
  width: 100%;
  color: #B7B7B7;
  border: none;
  border-top: 1px solid #B7B7B7;
  margin: 2.5rem 0;
}

#content-side hr {
  margin: 2rem 0;
}

hr.story-separator {
  border: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  background-image: -webkit-linear-gradient(left, rgba(183,183,183,0), rgba(183,183,183,0.75), rgba(183,183,183,0));
  background-image:    -moz-linear-gradient(left, rgba(183,183,183,0), rgba(183,183,183,0.75), rgba(183,183,183,0));
  background-image:     -ms-linear-gradient(left, rgba(183,183,183,0), rgba(183,183,183,0.75), rgba(183,183,183,0));
  background-image:      -o-linear-gradient(left, rgba(183,183,183,0), rgba(183,183,183,0.75), rgba(183,183,183,0));
}

hr.story-separator:after {
  content: '\2026';
  display: inline-block;
  position: relative;
  top: -1.3rem;
  font-size: 24pt;
  font-family: "Sans Serif";
  background-color: #383838;
  padding: 3px;
  padding-bottom: 5px;
}

hr.smaller {
  width: 90%;
  border-color: #656565;
  margin: 1rem auto;
}

/******************************************************************************
 * hyperlink styles
 *****************************************************************************/
a {
  color: #F8C118;
  text-decoration: none;
}

a:hover {
  color: #DEDEDE;
}

a.reverse-color {
  color: #DEDEDE;
}

a.reverse-color:hover {
  color: #F8C118;
}

#footer a {
  color: #A80505;
}

#footer a:hover {
  color: #FFFFFF;;
}

a.sidebar {
  width: 100%;
  display: inline-block;
  padding: 7px 12px;
}

a.sidebar:nth-of-type(odd) {
  background-color: #404040;
}

/******************************************************************************
 * text styles
 *****************************************************************************/
h1, h2, h3, h4, h5, h6 {
  color: #F8C118;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 1rem;
}

h3 {
  font-size: 12pt;
}

div#footer h3 {
  color: #A80505;
  font-size: 20pt;
  font-family: 'Eurostile-Black';
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgba(168, 5, 5, 0.3);
}

p {
  margin-bottom: 1rem;
}

.right-justify {
  text-align: right;
}

.left-justify {
  text-align: left;
}

.eurostile-black {
  font-family: 'Eurostile-Black';
  font-weight: normal;
}

span.big {
  text-transform: uppercase;
}

/******************************************************************************
 * blockquote and cite styles
 *****************************************************************************/
blockquote {
  position: relative;
  border-left: 3px solid #F8C118;
  padding: 0.5rem 1rem 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

blockquote:before {
  content: "\201C";
  color: #B7B7B7;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 45pt;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

cite {
  width: 100%;
  color: #B7B7B7;
  display: inline-block;
  text-align: right;
  margin-top: 1rem;
}

cite:before {
  content: "--";
  padding-right: 0.3rem;
}

blockquote.pull-quote {
  width: 80%;
  color: #B7B7B7;
  font-style: italic;
  font-size: 18pt;
  font-family: "Permanent Marker";
  line-height: 2rem;
  text-align: left;
  border: none;
  padding: 0;
  margin: 2rem auto;
}

blockquote.pull-quote:before {
  content: "\201C";
  color: #DEDEDE;
  font-family: "Permanent Marker";
  font-size: 32pt;
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -3rem;
}

blockquote.pull-quote:after {
  content: "\201D";
  color: #DEDEDE;
  font-family: "Permanent Marker";
  font-size: 32pt;
  display: block;
  position: absolute;
  bottom: 0;
  right: -1.3rem;
}

/******************************************************************************
 * img styles
 *****************************************************************************/
img.left {
  margin-right: 10px;
}

img.right {
  margin-left: 10px;
}

/******************************************************************************
 * logo styles
 *****************************************************************************/
span.logo {
  color: #A80505;
  font-family: 'Eurostile-Black';
  font-size: 24pt;
  line-height: 26pt;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px rgba(168, 5, 5, 0.3);
  vertical-align: middle;
}

a.logo {
  width: 100%;
  display: block;
  padding: 0.2rem 10px;
}

span.footer-copyleft {
  color: #A80505;
  font-size: 8pt;
  font-family: 'Eurostile-Black';
  font-weight: bold;
}

/******************************************************************************
 * structural styles
 *****************************************************************************/
.row {
  /* override foundation style */
  max-width: 950px;
}

#header {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
}

#content {
  background-color: #383838;
  padding: 15px 20px;
}

#content-main {
}

#content-side {
  padding-left: 20px;
}

#footer {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
}

#footer div.columns {
  padding: 10px;
}

#footer div.side {
  padding-left: 20px;
}

/******************************************************************************
 * list styles - general
 *****************************************************************************/
ul {
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

ul li {
  padding: 3px;
}

/******************************************************************************
 * list styles - navigation
 *****************************************************************************/
nav {
  float: right;
}

nav > ul {
  list-style-type: none;
  margin: 0;
}

nav > ul li {
  display: block;
  float: left;
  padding: 0;
}

nav > ul li:hover {
  color: #FFFFFF;
  background-color: #EBB100;
}

nav > ul li a {
  color: #A80505;
  display: block;
  padding: 10px 15px;
}

nav > ul li a:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * list styles - flash messages
 *****************************************************************************/
ul.messages {
  list-style-type: none;
  margin: 0;
}

ul.messages li {
  color: #383838;
  background-color: #F8C118;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

ul.messages p {
  margin-bottom: 0;
}

ul.messages form * {
  float: left;
}

ul.messages .success {
  color: #157A2D;
  background-color: #A8C118;
}

ul.messages .warning {
  color: #383838;
  background-color: #F8C118;
}

ul.messages .error {
  color: #F8C118;
  background-color: #A80505;
}

ul.messages .success input[type="submit"], ul.messages .success input[type="button"] {
  color: #157A2D;
  background-color: transparent;
  float: left;
  font-size: 10pt;
  font-weight: bold;
  font-family: Roboto, "San Serif";
  border: none;
  padding: 3px 7px;
}

ul.messages .success input[type="submit"]:hover, ul.messages .success input[type="button"]:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * list styles - pagination
 *****************************************************************************/
ul.pagination {
  color: #DEDEDE;
  font-size: 10pt;
  list-style-type: none;
  margin: 2rem auto;
}

ul.pagination li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.pagination li * {
  background-color: #404040;
  padding: 10px 15px;
}

ul.pagination li a:hover {
  background-color: #B7B7B7;
}

ul.pagination li:first-child a, ul.pagination li:first-child .inactive {
  border-radius: 4px 0 0 4px;
}

ul.pagination li:last-child a, ul.pagination li:last-child .inactive {
  border-radius: 0 4px 4px 0;
}

ul.pagination .inactive {
  font-style: italic;
}

/* Append "<<" to first child of pagination list (should say "First") */
ul.pagination li:first-child a:before, ul.pagination li:first-child .inactive:before {
  content: "\00AB";
  padding-right: 5px;
}

/* Append "<" to second child of pagination list (should say "Prev") */
ul.pagination li:nth-child(2) a:before, ul.pagination li:nth-child(2) .inactive:before {
  content: "\2039";
  padding-right: 5px;
}

/* Append ">" to second to last child of pagination list (should say "Next") */
ul.pagination li:nth-last-child(2) a:after, ul.pagination li:nth-last-child(2) .inactive:after {
  content: "\203A";
  padding-left: 5px;
}

/* Append ">>" to last child of pagination list (should say "Last") */
ul.pagination li:last-child a:after, ul.pagination li:last-child .inactive:after {
  content: "\00BB";
  padding-left: 5px;
}

/******************************************************************************
 * table styles - general
 *****************************************************************************/
.expand {
  width: 100%;
  text-align: center;
}

.shrink {
  width: 1px; /* as small as possible! */
  white-space: nowrap;
}

/******************************************************************************
 * input styles
 *****************************************************************************/
input,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type="file"],
textarea {
  font-family: inherit;
  line-height: 1.1rem;
  padding: 3px;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="file"],
textarea {
  width: 100%;
  border: 1px solid #333333;
}

input[type="file"] {
  background-color: #404040;
  padding: 1px;
}

label {
  padding: 3px;
}

/******************************************************************************
 * button styles
 *****************************************************************************/
.button, input[type="button"], input[type="submit"] {
  border: none;
  color: #F8C118;
  background-color: #494949;
  font-size: 10pt;
  display: inline-block;
  cursor: pointer;
  line-height: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

.button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  color: #FFFFFF;
  background-color: #B7B7B7;
}

.top-button {
  color: #FFFFFF;
  background-color: #959595;
  text-align: center;
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
}

.top-button h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

.top-button:hover {
  opacity: 1;
}

/******************************************************************************
 * sidebar box styles
 *****************************************************************************/
.side-box {
  margin-bottom: 10px;
}

.side-box h3 {
  font-size: 11pt;
  margin-bottom: 1rem;
}

/******************************************************************************
 * block grid stories styles
 *****************************************************************************/
ul.small-stories div.img-placeholder {
  height: 150px;
  background-color: #F8C118;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

ul.small-stories div.img-placeholder .placeholder {
  color: #A80505;
}

/******************************************************************************
 * thought styles
 *****************************************************************************/
p.idea {
  color: #FFFFFF;
  font-size: 8pt;
  text-transform: uppercase;
  margin: 0;
}

p.title {
  color: #F8C118;
  font-size: 14pt;
  text-align: left;
  margin-bottom: 0.1em;
}

p.subtitle {
  color: #B7B7B7;
  font-size: 9pt;
  margin-bottom: 0.5rem;
}

.placeholder {
  font-size: 110pt;
  font-family: 'Eurostile-Black';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  margin-top: -0.5rem;
}

/******************************************************************************
 * login form styles
 *****************************************************************************/
.login-form table {
  width: 75%;
  min-width: 300px;
  background-color: #404040;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

.login-form table td {
  padding-right: 5px;
}