/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general styles
 *****************************************************************************/
* {
  box-sizing: border-box;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

body {
  color: #FFFFFF;
  background-color: #494949;
  font-family: Roboto, "San-Serif";
  font-size: 11pt;
  text-align: justify;
  line-height: 1;
}

hr {
  height: 1px;
  color: white;
  background-color: white;
  border-collapse: collapse;
}

.group {
  content: "";
  display: table;
  clear: both;
}

.top-button {
  color: #FFFFFF;
  background-color: #959595;
  text-align: center;
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
}

.top-button:hover {
  opacity: 1;
}

/******************************************************************************
 * logo styles
 *****************************************************************************/
span#logo {
  color: #A80505;
  font-family: 'Oleo Script';
  font-size: 22pt;
  text-shadow: 0px 0px 2px rgba(168, 5, 5, 0.5);
}

/******************************************************************************
 * structural styles
 *****************************************************************************/
.row {
  /* override foundation style */
  max-width: 920px;
}

div#header {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.25);
  padding: 5px 0;
}

div#content {
  color: #FFFFFF;
  background-color: #383838;
  padding: 15px 7px;
}

div#content-main {

}

div#content-side {
  padding-left: 20px;
}

div#footer {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
}

div#footer div.columns {
  padding: 10px;
}

/******************************************************************************
 * list styles - navigation
 *****************************************************************************/
div#header nav {
  float: right;
}

div#header nav > ul {
  list-style-type: none;
}

div#header nav > ul li {
  display: block;
  float: left;
  padding: 5px 10px;
}

div#header nav > ul li:hover {
  background-color: white;
}

div#header nav > ul li a {
  color: #A80505;
}

/******************************************************************************
 * list styles - flash messages
 *****************************************************************************/
ul.messages {
  list-style-type: none;
}

ul.messages li {
  color: #383838;
  background-color: #F8C118;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

ul.messages .success {
  color: #157A2D;
  background-color: #71E38C;
}

ul.messages .error {
  color: #F8C118;
  background-color: #A80505;
}

/******************************************************************************
 * text styles
 *****************************************************************************/
a {
  color: #F8C118;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3 {
  color: #F8C118;
  font-size: 14pt;
  font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal;
}

div#footer h3 {
  color: #A80505;
  font-size: 14pt;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

.right-justify {
  text-align: right;
}

.left-justify {
  text-align: left;
}

/******************************************************************************
 * img styles
 *****************************************************************************/
img {

}

.link-icon {
  padding-right: 10px;
}

/******************************************************************************
 * input styles
 *****************************************************************************/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  font-family: Roboto;
}