/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general styles
 *****************************************************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #DEDEDE;
  background-color: #383838;
  font-family: Roboto, "San-Serif";
  font-size: 11pt;
  text-align: justify;
  line-height: 1.7rem;
}

.group {
  content: "";
  display: table;
  clear: both;
}

.no-text-overflow {
  max-width: 150px;  /* the value here doesn't seem to matter, but setting max width allows for responsiveness */
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitter-timeline {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.grey {
  color: #B7B7B7;
}

.green {
  color: #50804A;
}

.purple {
  color: #7A5F87;
}

.red {
  color: #BA4545;
}

.orange {
  color: #9E763E;
}

.yellow {
  color: #D1A51D;
}

.blue {
  color: #565B99;
}

/******************************************************************************
 * hr styles
 *****************************************************************************/
hr {
  height: 1px;
  width: 100%;
  color: #565656;
  border: none;
  border-top: 2px solid #565656;
  margin: 2.5rem 0;
}

hr.header, #content-side hr.header {
  margin-top: 0;
}

#content-side hr {
  margin: 2rem 0;
}

hr.smaller {
  width: 90%;
  border-color: #656565;
  margin: 1rem auto;
}

/******************************************************************************
 * hyperlink styles
 *****************************************************************************/
a {
  color: #F8C118;
  text-decoration: none;
}

a:hover {
  color: #DEDEDE;
}

a.reverse-color {
  color: #DEDEDE;
}

a.reverse-color:hover {
  color: #F8C118;
}

a.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

#footer a {
  color: #A80505;
}

#footer a:hover {
  color: #FFFFFF;;
}

a.sidebar {
  width: 100%;
  display: inline-block;
  padding: 7px 12px;
}

a.sidebar:nth-of-type(odd) {
  background-color: #404040;
}

a.edit {
  font-size: 8pt;
  background-color: #656565;
  border-radius: 4px;
  padding: 2px 8px;
  text-transform: uppercase;
  position: relative;
  vertical-align: top;
  margin-left: 5px;
  z-index: 1000;
}

a.edit:hover {
  background-color: #B7B7B7;
}

/******************************************************************************
 * text styles
 *****************************************************************************/
h1, h2, h3, h4, h5, h6 {
  color: #F8C118;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 1rem;
}

h3 {
  font-size: 12pt;
}

div#footer h3 {
  color: #A80505;
  font-size: 16pt;
  font-family: 'Eurostile-Black';
  text-transform: uppercase;
}

p {
  margin-bottom: 1rem;
}

.right-justify {
  text-align: right;
}

.left-justify {
  text-align: left;
}

.center-align {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

.center {
  float: none !important;
  padding: 0 3px;
  margin: 0 auto !important;
}

.eurostile-black {
  font-family: 'Eurostile-Black';
  font-weight: normal;
}

span.big {
  text-transform: uppercase;
}

/******************************************************************************
 * blockquote and cite styles
 *****************************************************************************/
blockquote {
  position: relative;
  border-left: 3px solid #F8C118;
  padding: 0.5rem 1rem 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

blockquote:before {
  content: "\201C";
  color: #B7B7B7;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 45pt;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

cite {
  width: 100%;
  color: #B7B7B7;
  display: inline-block;
  text-align: right;
  margin-top: 1rem;
}

cite:before {
  content: "--";
  padding-right: 0.3rem;
}

blockquote.pull-quote {
  width: 80%;
  color: #B7B7B7;
  font-style: italic;
  font-size: 18pt;
  font-family: "Permanent Marker";
  line-height: 2rem;
  text-align: left;
  border: none;
  padding: 0;
  margin: 2rem auto;
}

blockquote.pull-quote:before {
  content: "\201C";
  color: #DEDEDE;
  font-family: "Permanent Marker";
  font-size: 32pt;
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -3rem;
}

blockquote.pull-quote:after {
  content: "\201D";
  color: #DEDEDE;
  font-family: "Permanent Marker";
  font-size: 32pt;
  display: block;
  position: absolute;
  bottom: 0;
  right: -1.3rem;
}

/******************************************************************************
 * img styles
 *****************************************************************************/
img.left {
  margin-right: 10px;
}

img.right {
  margin-left: 10px;
}

/******************************************************************************
 * logo styles
 *****************************************************************************/
a.logo {
  color: #A80505;
  line-height: 27pt;
  font-family: 'Eurostile-Black';
  font-size: 24pt;
  text-transform: uppercase;
  padding: 0 10px;
}

span.footer-copyleft {
  color: #A80505;
  font-size: 8pt;
  font-family: 'Eurostile-Black';
  line-height: 1.2rem;
  font-weight: bold;
}

/******************************************************************************
 * structural styles
 *****************************************************************************/
.row {
  /* override foundation style */
  max-width: 950px;
}

#header {
  color: #383838;
  background-color: #F8C118;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.25);
  box-shadow-bottom: 0px 5px 10px -1px rgba(0,0,0,0.25);
}

#content {
  padding: 15px 20px;
  padding-top: 30px;
}

#content-main {
  max-width: 630px;
  padding-right: 30px;
}

/* "small" in foundation size */
@media (max-width: 40em) {
  #content-main {
    padding-right: 0;
  }
}

#content-side {
}

#footer {
  color: #383838;
  background-color: #F8C118;
  font-weight: bold;
  -webkit-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 0px -3px 14px 0px rgba(0,0,0,0.25);
}

#footer div.columns {
  padding: 10px;
}

#footer div.main {
  padding-right: 30px;
}

#footer div.side {
  text-align: center;
}

#footer span {
  font-weight: normal;
}

/* "small" in foundation size */
@media (max-width: 40em) {
  #footer div.main {
    padding-right: 10px;
  }
}

/******************************************************************************
 * list styles - general
 *****************************************************************************/
ul {
  list-style-position: inside;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

ul li {
  padding: 3px;
}

/******************************************************************************
 * list styles - navigation
 *****************************************************************************/
nav {
  line-height: 1.2rem;
  float: right;
}

@media (max-width: 40em) {
  nav {
    float: none;
    clear: both;
    width: 100%;
  }
}

nav > ul {
  list-style-type: none;
  margin: 0;
}

nav > ul li {
  display: block;
  float: left;
  padding: 0;
}

nav > ul li:hover {
  color: #FFFFFF;
  background-color: #EBB100;
}

nav > ul li a {
  color: #A80505;
  display: block;
  padding: 10px 15px;
}

nav > ul li a:hover {
  color: #FFFFFF;
}

/*****************************************************************************
 * list styles - flash messages
 *****************************************************************************/
ul.messages {
  list-style-type: none;
  margin: 0;
}

ul.messages li {
  color: #383838;
  background-color: #F8C118;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}

ul.messages li:last-child {
  margin-bottom: 2rem;
}

ul.messages p {
  margin-bottom: 0;
}

ul.messages form * {
  float: left;
}

ul.messages .success {
  color: #157A2D;
  background-color: #A8C118;
}

ul.messages .warning {
  color: #383838;
  background-color: #F8C118;
}

ul.messages .error {
  color: #F8C118;
  background-color: #A80505;
}

ul.messages .success input[type="submit"], ul.messages .success input[type="button"] {
  color: #157A2D;
  background-color: transparent;
  float: left;
  font-size: 11pt;
  font-weight: bold;
  font-family: Roboto, "San Serif";
  border: none;
  margin-top: 0.3rem;
  padding: 0px 7px;
}

ul.messages .success input[type="submit"]:hover, ul.messages .success input[type="button"]:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * list styles - pagination
 *****************************************************************************/
ul.pagination {
  color: #DEDEDE;
  font-size: 10pt;
  list-style-type: none;
  margin: 2rem auto;
}

ul.pagination li {
  float: left;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
}

ul.pagination li * {
  background-color: #404040;
  padding: 10px 15px;
}

ul.pagination li a:hover {
  background-color: #B7B7B7;
}

ul.pagination li:first-child a, ul.pagination li:first-child .inactive {
  border-radius: 4px 0 0 4px;
}

ul.pagination li:last-child a, ul.pagination li:last-child .inactive {
  border-radius: 0 4px 4px 0;
}

ul.pagination .inactive {
  font-style: italic;
}

ul.pagination span.minimize {
  background-color: transparent;
  padding: 0;
}

/* Append "<<" to first child of pagination list (should say "First") */
ul.pagination li:first-child a:before, ul.pagination li:first-child .inactive:before {
  content: "\00AB";
  padding-right: 5px;
}

/* Append "<" to second child of pagination list (should say "Prev") */
ul.pagination li:nth-child(2) a:before, ul.pagination li:nth-child(2) .inactive:before {
  content: "\2039";
  padding-right: 5px;
}

/* Append ">" to second to last child of pagination list (should say "Next") */
ul.pagination li:nth-last-child(2) a:after, ul.pagination li:nth-last-child(2) .inactive:after {
  content: "\203A";
  padding-left: 5px;
}

/* Append ">>" to last child of pagination list (should say "Last") */
ul.pagination li:last-child a:after, ul.pagination li:last-child .inactive:after {
  content: "\00BB";
  padding-left: 5px;
}

@media (max-width: 40rem) {
  ul.pagination li span.minimize {
    display: none;
  }

  ul.pagination li.pages *,
  ul.pagination li:first-child a:after,
  ul.pagination li:first-child .inactive:before,
  ul.pagination li:nth-child(2) a:after,
  ul.pagination li:nth-child(2) .inactive:before,
  ul.pagination li:nth-last-child(2) a:after,
  ul.pagination li:nth-last-child(2) .inactive:before,
  ul.pagination li:last-child a:after,
  ul.pagination li:last-child .inactive:before {
    font-size: 10pt;
  }
}

/******************************************************************************
 * table styles - general
 *****************************************************************************/
.expand {
  width: 100%;
  text-align: center;
}

.shrink {
  width: 1px; /* as small as possible! */
  white-space: nowrap;
}

/******************************************************************************
 * input styles
 *****************************************************************************/
button,
input,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
input[type="file"],
input[type="submit"],
input[type="button"],
textarea {
  font-family: inherit;
  line-height: 1.1rem;
  padding: 3px;
}

textarea {
  resize: none;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="file"],
textarea {
  width: 100%;
  border: 1px solid #333333;
}

input[type="file"] {
  background-color: #404040;
  padding: 1px;
}

label {
  padding: 0 5px;
}

/******************************************************************************
 * button styles
 *****************************************************************************/
.button, button, input[type="button"], input[type="submit"] {
  border: none;
  color: #F8C118;
  background-color: #494949;
  font-size: 10pt;
  display: inline-block;
  cursor: pointer;
  line-height: 1.1rem;
  padding: 0.5rem 1rem;
  margin: 0;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  color: #FFFFFF;
  background-color: #B7B7B7;
}

.top-button {
  color: #FFFFFF;
  background-color: #959595;
  text-align: center;
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  padding: 10px 30px;
}

.top-button h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

.top-button:hover {
  opacity: 1;
}

/******************************************************************************
 * sidebar box styles
 *****************************************************************************/
.side-box {
  margin-bottom: 10px;
}

.side-box h3 {
  font-size: 11pt;
  margin-bottom: 1rem;
}

/******************************************************************************
 * block grid stories styles
 *****************************************************************************/
ul.small-stories div.img-placeholder {
  height: 150px;
  background-color: #F8C118;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

ul.small-stories div.img-placeholder a {
  height: 100%;
  width: 100%;
  display: block;
}

ul.small-stories div.img-placeholder span.placeholder {
  color: #A80505;
  font-size: 110pt;
  font-family: 'Eurostile-Black';
  line-height: 1.2rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  margin-top: -0.5rem;
}

/******************************************************************************
 * thought styles
 *****************************************************************************/
p.idea {
  color: #FFFFFF;
  font-size: 8pt;
  line-height: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

p.title {
  color: #F8C118;
  font-size: 14pt;
  text-align: left;
  line-height: 1.2rem;
  margin-bottom: 0.1em;
}

.subtitle {
  color: #888888;
  font-size: 9pt;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}

/******************************************************************************
 * login form styles
 *****************************************************************************/
.login-form table {
  width: 75%;
  min-width: 300px;
  background-color: #404040;
  border-collapse: separate;
  border-spacing: 0 10px;
  padding: 10px;
}

.login-form table td {
  padding-right: 5px;
}

/******************************************************************************
 * book list styles
 *****************************************************************************/
div.book-list {
  margin-bottom: 2rem;
}

div.book-list p.empty, .aws-book-result p.empty {
  font-size: 10pt;
  text-align: center;
  padding: 0 10px;
  margin: 0;
}

div.book-list p.empty a {
  width: 100%;
  display: block;
}

.aws-book-result {
  width: 100%;
  min-height: 90px;
  position: relative;
  padding: 7px;
}

.aws-book-result:nth-of-type(odd) {
  background-color: #404040;
}

.aws-book-result-hover:hover, p.empty:hover {
  background-color: #494949;
}

.aws-book-result p {
  text-align: left;
}

.aws-book-result p.title {
  color: #F8C118;
  font-size: 10pt;
  line-height: 1rem;
  margin-bottom: 0;
}

.aws-book-result p.author {
  color: #B7B7B7;
  font-size: 8pt;
  line-height: 1.2rem;
  margin-bottom: 0.2rem;
}

.aws-book-result p.description {
  font-size: 10pt;
  line-height: 1.2rem;
  margin-bottom: 0.8rem;
}

.aws-book-result p.date {
  color: #B7B7B7;
  font-size: 8pt;
  line-height: 1rem;
  text-align: right;
  margin-bottom: 0;
  position: absolute;
  right: 10px;
  bottom: 3px;
}

.aws-book-result a.link, .aws-book-result input[type="submit"] {
  width: 17px;
  height: 17px;
  font-size: 8pt;
  line-height: 1.2rem;
  background-color: transparent;
  background-image: url('../images/external_link.png');
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
}

.aws-book-result a.link:hover {
  background-image: url('../images/external_link_on.png');
}

span.favorite {
  color: #F8C118;
  font-size: 14pt;
  cursor: default;
  text-shadow: 0 0 2px #F8C118;
  z-index: 1;
  position: absolute;
  top: 3px;
  right: 7px;
}