/* common.css
 * Common css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * General css rules
 *****************************************************************************/

* { margin: 0; padding: 0; }
html { height: 100%; }

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

body
{
  height: 100%;
  color: #333333;
  background-color: #D893DB;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 11pt;
  text-align: justify;
  line-height: 1.2em;
}

hr
{
  height: 1px;
  border-width: 0;
  color: #000000;
  background-color: #000000;
  margin: 10px 0;
}

/* a.k.a. clearfix */
.group
{
  content: "";
  display: table;
  clear: both;
}

/******************************************************************************
 * Structural divs
 *****************************************************************************/

div#c-header
{
  height: 150px;
  background-color: #ECB7AB;
  padding: 10px;
}

div#c-nav
{
  width: 70%;
  background-color: #51AD6D;
  position: absolute;
  top: 170px;
}

div#c-body
{
  width: 950px;
  height: 100%;
  background-color: #E0CDA8;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -170px;
}

div#c-content
{
  width: 70%;
  //height: 100%;
  background-color: #64ABDE;
  float: left;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-content-inner
{
  margin: 10px 5px;
  margin-right: 10px;
}

div#c-side
{
  width: 30%;
  background-color: #DEC564;
  float: right;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-side-inner
{
  margin: 10px 5px;
}

div#c-footer
{
  width: 70%;
  min-height: 200px;
  background-color: #A69B6D;
  float: left;
}

div#c-footer-inner
{
  margin: 5px;
}

/******************************************************************************
 * Navigational styles
 *****************************************************************************/

ul.nav
{
  width: 100%;
  height: 2em;
  position: absolute;
  line-height: normal;
  background-color: #5AAD74;
  top: -2em;
}

ul.nav li
{
  display: inline-block;
  float: left;
}

ul.nav li.right_justified
{
  float: right;
}

ul.nav li a
{
  text-decoration: none;
  padding: 5px;
  float: left;
}

ul.nav li a:hover
{
  background-color: #86D19D;
}

/******************************************************************************
 * Links
 *****************************************************************************/

a
{
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color: #FFFFFF;
}

/******************************************************************************
 * Text styles
 *****************************************************************************/

h1, h2, h3, h4, h5, h6
{
  font-weight: bold;
  vertical-align: middle;
  margin-bottom: 0.5em;
}

h1
{
  font-size: 14pt;
  margin-bottom: 1em;
}

h3
{
  font-size: 12pt;
  margin-bottom: 0.7em;
}

p
{
  margin-bottom: 1em;
}

/******************************************************************************
 * Tables
 *****************************************************************************/

table
{
  border-collapse: collapse;
}

table.editable
{
  width: 100%;
}

table.editable tr td
{
  background-color: #CFCFCF;
  border: 1px solid #A6A6A6;
  padding: 5px;
}

table.catalog
{
  width: 100%;
}

table.catalog tr.even
{
  background-color: #E0E0E0;
}

table.catalog tr.even:hover
{
  background-color: #D12308;
}

table.catalog tr.odd
{

}

table.catalog tr.odd:hover
{
  background-color: #D12308;
}

table.catalog td
{
  vertical-align: top;
  padding: 10px;
}

table.catalog img
{
  float: left;
  padding-right: 10px;
}

/******************************************************************************
 * Images
 *****************************************************************************/

img
{
  display: block;
}

img.left
{
  float: left;
  padding-right: 10px;
}

img.right
{
  float: right;
  padding-left: 10px;
}

