/* dashboard.css
 * Dashboard css styles for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * Add new Idea form styles
 *****************************************************************************/

table.add-idea
{
  width: 100%;
  margin-bottom: 5px;
}

table.add-idea td
{
  font-size: 9pt;
  font-weight: bold;
  padding-right: 5px;
}

table.add-idea td.last
{
  width: 100%;
  padding-right: 0;
}

table.add-idea td.fill
{
  width: 100%;
}

table.add-idea #id_name
{
  width: 150px;
  padding: 2px;
}

table.add-idea #id_slug
{
  width: 110px;
  padding: 2px;
}

table.add-idea #id_description
{
  width: 98%;
  display: block;
  height: 1.3em;
  resize: none;
  padding: 2px;
}

table.add-idea #id_submit
{
  padding: 2px;
  font-size: 9pt;
  margin-top: 1.4em;
}