/* dashboard.css
 * Dashboard css styles for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * custom grid styles
 *****************************************************************************/
.row {
  max-width: 100%;
}

#content {
  min-height: 80%;
  position: relative;
  padding: 0;
  z-index: 0;
}

#content-main {
  max-width: initial;
  padding: 15px 20px;
  padding-bottom: 2rem;
}

#content-side {
  color: #383838;
  background-color: #F8C118;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

#footer {
  min-height: 1.5rem;
  text-align: right;
}

/******************************************************************************
 * hyperlink styles
 *****************************************************************************/
#content-side a {
  color: #A80505;
  display: block;
}

#content-side a:hover {
  color: #FFFFFF;
  background-color: #EBB110;
}

#content-side a.highlight {
  color: #F8C118;
  background-color: #A80505;
  padding-top: 20px;
  padding-bottom: 20px;
}

#content-side a.highlight:hover {
  color: #FFFFFF;
  background-color: #E85D5D;
}

/******************************************************************************
 * content-side management menu styles
 *****************************************************************************/
#content-side ul {
  list-style-type: none;
  margin: 0;
}

#content-side ul li {
  padding: 0;
}

#content-side ul li.divider {
  border-top: 1px dashed #656565;
  margin: 2px 7px;
}

#content-side ul li * {
  width: 100%;
  padding: 10px 15px;
}

/******************************************************************************
 * input styles
 *****************************************************************************/
input[disabled] {
  background-color: #B7B7B7;
}

/******************************************************************************
 * editable table styles
 *****************************************************************************/
table.editable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table.editable tr:first-child td {
  font-weight: bold;
  background-color: #404040;
  text-align: center;
}

table.editable tr:nth-of-type(even) {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

table.editable tr:nth-of-type(2) {
  border-top: none;
}

table.editable tr:last-child {
  border-bottom: none;
}

table.editable td {
  font-size: 9pt;
  padding: 5px;
}

table.editable td:last-child {
  padding-right: 3px;
}

table.editable .button,
table.editable input[type="button"],
table.editable input[type="submit"] {
  font-size: 9pt;
  margin: 0 -3px;
}

/******************************************************************************
 * add idea form styles
 *****************************************************************************/
table.add-idea {
  margin-bottom: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
}

table.add-idea tr:nth-of-type(odd) {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

table.add-idea tr:first-child {
  border-top: none;
}

table.add-idea tr:last-child {
  border-bottom: none;
}

table.add-idea td {
  font-weight: bold;
  vertical-align: middle;
  padding: 5px;
  margin: 0;
}

table.add-idea td:first-child {
  text-align: right;
}

table.add-idea td:last-child {
  padding-right: 0;
}

table.add-idea label {
  font-size: 10pt;
  font-weight: bold;
}

table.add-idea #id_name, table.add-idea #id_slug {
  max-width: 300px;
  font-weight: bold;
}

table.add-idea #id_description {
  max-width: 100%;
  font-weight: normal;
  resize: none;
}

table.add-idea #id_submit:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * thought form styles
 *****************************************************************************/
table.form-thought {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table.form-thought th {
  padding: 0 5px;
}

table.form-thought td {
  padding: 2px;
}

table.form-thought textarea {
  resize: none;
}

table.form-thought select {
  width: 200px;
  padding: 2px;
}

table.form-thought #id_title {
  font-weight: bold;
  margin-bottom: 1rem;
}

table.form-thought #id_slug {
  width: 150px;
  color: #B7B7B7;
  cursor: default;
  font-weight: bold;
}

table.form-thought p#id_slug {
  font-weight: normal;
  overflow: hidden;
  background-color: #494949;
  vertical-align: middle;
  padding: 2px 7px;
  margin: 0;
}

table.form-thought input[type="button"],
table.form-thought input[type="submit"] {
  padding: 15px 25px;
  margin-left: 5px;
}

table.form-thought input[type="button"]:first-of-type,
table.form-thought input[type="submit"]:first-of-type {
  margin-left: 0;
}

table.form-thought input[type="submit"].publish {
  font-weight: bold;
  color: #F8C118;
  background-color: #A80505;
  padding-right: 4rem;
  padding-left: 4rem;
}

table.form-thought input[type="submit"].publish:hover {
  color: #FFFFFF;
  background-color: #E85D5D;
}

/******************************************************************************
 * link form styles
 *****************************************************************************/
#link_form table {
  width: 100%;
  min-width: 500px;
  max-width: 950px;
}

#link_form td {
  padding: 5px 0;
}

#link_form label {
  float: right;
}

#link_form input[type="submit"], #link_form input[type="button"] {
  margin-left: 10px;
}

#link_form input[type="submit"].publish {
  margin-left: 0;
}