/* dashboard.css
 * Dashboard css styles for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * custom grid styles
 *****************************************************************************/
.row {
  max-width: 100%;
}

#content {
  padding: 0;
}

#content-main {
  padding: 15px 20px;
  padding-bottom: 2rem;
}

#content-side {
  color: #383838;
  background-color: #F8C118;
  text-align: left;
  padding: 0;
}

#footer {
  min-height: 1.5rem;
  text-align: right;
}

/******************************************************************************
 * link styles
 *****************************************************************************/
#content-side a {
  color: #A80505;
  display: block;
}

#content-side a:hover {
  color: #FFFFFF;
  background-color: #EBB110;
}

/******************************************************************************
 * content-side management menu styles
 *****************************************************************************/
#content-side ul {
  list-style-type: none;
}

#content-side ul li.divider {
  border-top: 1px solid #494949;
  margin: 5px 7px;
}

#content-side ul li * {
  width: 100%;
  padding: 10px 15px;
}

/******************************************************************************
 * editable table styles
 *****************************************************************************/
table.editable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 3px;
  margin-bottom: 2rem;
}

table.editable tr:first-child td {
  font-weight: bold;
  background-color: #494949;
  text-align: center;
}

table.editable tr:nth-of-type(even) {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

table.editable tr:nth-of-type(2) {
  border-top: none;
}

table.editable tr:last-child {
  border-bottom: none;
}

table.editable td {
  font-size: 9pt;
  padding: 5px;
}

/******************************************************************************
 * add idea form styles
 *****************************************************************************/
table.add-idea {
  margin-bottom: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
}

table.add-idea tr:nth-of-type(odd) {
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

table.add-idea tr:first-child {
  border-top: none;
}

table.add-idea tr:last-child {
  border-bottom: none;
}

table.add-idea td {
  font-weight: bold;
  vertical-align: middle;
  padding: 5px;
  margin: 0;
}

table.add-idea td:first-child {
  text-align: right;
}

table.add-idea td:last-child {
  padding-right: 0;
}

table.add-idea label {
  font-size: 10pt;
  font-weight: bold;
}

table.add-idea #id_name, table.add-idea #id_slug {
  max-width: 300px;
  font-weight: bold;
}

table.add-idea #id_description {
  max-width: 100%;
  font-weight: normal;
  resize: none;
}

table.add-idea #id_submit:hover {
  color: #FFFFFF;
}

/******************************************************************************
 * thought form styles
 *****************************************************************************/

.form-thought {
  width: 100%;
  margin-bottom: 20px;
}

.form-thought label {
  font-weight: bold;
}

.form-thought th {
  padding: 0 5px;
}

.form-thought td {
  padding: 2px;
}

.form-thought textarea {
  resize: none;
}

.form-thought select {
  width: 200px;
  padding: 2px;
}

.form-thought #id_title {
  font-weight: bold;
}

.form-thought #id_slug {
  width: 150px;
  font-weight: bold;
}

.form-thought input[type="submit"],
.form-thought input[type="button"] {
  width: 150px;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #DBCB18;
  margin-right: 5px;
  padding: 10px 0px;
}

.form-thought input[type="submit"]:hover,
.form-thought input[type="button"]:hover {
  background-color: #F0E13C;
}

.form-thought input[type="submit"]:active,
.form-thought input[type="button"]:active {
  background-color: #DBCB18;
}

.form-thought input[type="submit"].publish {
  background-color: #DB1818;
}

.form-thought input[type="submit"].publish:hover {
  background-color: #F03C3C;
}

.form-thought tr td input[type="submit"]:last-of-type {
  margin-right: 0;
}