/* dashboard.css
 * Dashboard css styles for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * custom grid styles
 *****************************************************************************/

.row {
  min-width: 100%;
}

.dashboard-panel {
  background-color: #DEDEDE;
  border: 1px solid #ABABAB;
  padding: 5px;
}

#content {
}

#side {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

#footer {
  min-height: 1.5rem;
  text-align: right;
}

/******************************************************************************
 * button styles
 *****************************************************************************/

.top-button {
  position: initial;
  opacity: 1;
  margin: 0;
}

/******************************************************************************
 * add idea form styles
 *****************************************************************************/

.add-idea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.add-idea td {
  font-weight: bold;
  padding: 0;
  padding-right: 5px;
  margin: 0;
}

.add-idea label {
  font-size: 10pt;
}

.add-idea td:last-child {
  padding-right: 0;
}

.add-idea label {
  font-weight: bold;
}

.add-idea textarea[rows] {
  height: 1.5rem;
}

.add-idea #name-cell {
  width: 150px;
}

.add-idea #id_name {
  width: 100%;
}

.add-idea #slug-cell {
  width: 110px;
}

.add-idea #id_slug {
  width: 100%;
}

.add-idea #id_description {
  width: 100%;
  font-weight: normal;
  resize: none;
}

.add-idea #submit-cell {
  vertical-align: bottom;
}

.add-idea #id_submit {
  font-size: 10pt;
}

/******************************************************************************
 * thought form styles
 *****************************************************************************/

.form-thought {
  width: 100%;
}

.form-thought label {
  font-weight: bold;
}

.form-thought th {
  width: 1px; /* shrink to fit content */
  text-align: right;
  vertical-align: middle;
  padding: 0 5px;
}

.form-thought textarea {
  resize: none;
}

.form-thought select {
  width: auto;
  padding: 2px;
}

.form-thought #id_title, .form-thought #id_slug {
  font-weight: bold;
}