/* dashboard.css
 * Dashboard css styles for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * custom grid styles
 *****************************************************************************/
#header-2 {
  background-color: #D1A51D;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.25);
  box-shadow-bottom: 0px 5px 10px -1px rgba(0,0,0,0.25);
}

#content-main {
  margin-bottom: 50px;
}

#content-side {
  margin-bottom: 50px;
}

#footer {
  min-height: 1.5rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

/******************************************************************************
 * general dashboard styles
 *****************************************************************************/
.stat-box {
  font-size: 10pt;
  line-height: 1.2rem;
  background-color: #404040;
  padding: 10px;
  margin-bottom: 2rem;
}

.stat-box p {
  border-top: 4px solid #555555;
  background-color: #363738;
  padding: 5px;
  margin-bottom: 0;
}

.stat-box p.blue {
  border-top: 4px solid #565B99;
}

.stat-box p.green {
  border-top: 4px solid #50804A;
}

.stat-box p.yellow {
  border-top: 4px solid #D1A51D;
}

.stat-box p.orange {
  border-top: 4px solid #9E763E;
}

.stat-box p.red {
  border-top: 4px solid #BA4545;
}

.stat-box p.purple {
  border-top: 4px solid #7A5F87;
}

.stat-box span {
  margin-left: 10px;
}

/******************************************************************************
 * dashboard navigation
 *****************************************************************************/
.dashboard-nav nav {
  width: 100%;
  font-weight: normal;
}

.dashboard-nav nav ul {
  width: 100%;
}

.dashboard-nav nav ul li.divider {
  width: 0;
  border-right: 1px dashed #755904;
  padding: 6px 0;
  margin: 4px 5px;
}

.dashboard-nav nav ul li a {
  color: #A80505;
}

@media (max-width: 40rem) {
  .dashboard-nav nav ul li.divider {
    width: 97%;
    height: 0px;
    border: 0;
    border-bottom: 1px dashed #755904;
    padding: 0;
    margin: 2px 0;
    margin-left: 6px;
  }

  .dashboard-nav nav ul li {
    width: 100%;
  }

  .dashboard-nav nav ul li a {
    width: 100%;
    display: block;
    float: none;
  }
}

.dashboard-nav nav ul li a:hover {
  color: #FFFFFF;
  background-color: #F8C118;
}

.dashboard-nav nav ul li a.highlight {
  color: #F8C118;
  background-color: #C22817;
}

.dashboard-nav nav ul li a.highlight:hover {
  color: #FFFFFF;
  background-color: #E85D5D;
}

#footer p {
  color: #A80505;
  font-size: 9pt;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

/******************************************************************************
 * tinymce styles
 *****************************************************************************/
/* this is the precise div that lets all buttons in the mcetoolbar to collapse
   for small screen layouts */
div.mce-toolbar * {
  float: left;
}

div.mce-edit-area {
  border: 0 !important;
}

.mce-toolbar div.mce-btn button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

div.mce-btn button:hover {
  background-color: #EFEFEF;
}

/******************************************************************************
 * general form styles
 *****************************************************************************/
form table:not([class]) {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

form table:not([class]) label {
  float: right;
  padding-right: 0;
}

form table:not([class]) tr:last-of-type { background-color: transparent !important; }
form table:not([class]) td { padding: 4px; }
form table:not([class]) tr td:first-child { padding-left: 0; }
form table:not([class]) tr td:last-child { padding-right: 0; }
form table:not([class]) td:last-child > *:first-child { margin-left: 0; }

/******************************************************************************
 * input styles
 *****************************************************************************/
input[disabled] {
  background-color: #B7B7B7;
}

button, input[type="submit"], input[type="button"] {
  margin-left: 10px;
  margin-bottom: 10px;
}

button.publish,
input[type="submit"].publish,
input[type="button"].publish {
  font-weight: bold;
  color: #F8C118;
  background-color: #C22817;
}

button.publish:hover,
input[type="submit"].publish:hover,
input[type="button"].publish:hover {
  color: #FFFFFF;
  background-color: #E85D5D;
}

/******************************************************************************
 * add idea form styles
 *****************************************************************************/
#add-idea #id_name { font-weight: bold; }
#add-idea #id_slug { font-weight: bold; color: #777777; }
#add-idea #id_description { min-height: 100px; vertical-align: top; }
#add-idea table tr:nth-of-type(even) { background-color: #404040; }

/******************************************************************************
 * thought form styles
 *****************************************************************************/
#form-thought #id_title { font-weight: bold; }
#form-thought #id_slug { color: #777777; font-weight: bold; }
#form-thought #id_idea { width: 200px; padding: 2px; }

#form-thought p#id_slug {
  font-weight: normal;
  line-height: 1.2rem;
  background-color: #494949;
  vertical-align: middle;
  padding: 2px 7px;
  margin: 0;
}

@media (max-width: 40rem) {
  #form-thought .publish {
    float: none !important;
    margin-left: 0;
    margin-right: 10px;
  }

  #form-thought button,
  #form-thought input[type="button"],
  #form-thought input[type="submit"] {
    width: 100%;
    float: none;
    margin: 0;
    margin-bottom: 3px;
  }
}

/******************************************************************************
 * reading list styles
 *****************************************************************************/
#reading-list-form table tr:nth-of-type(odd) { background-color: #404040; }

#aws-search { width: 100%; margin-left: 5px; }

/* little search button image next to aws search bar */
#aws-search img {
  height: 24px;
  background-color: #B7B7B7;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 2px 7px;
  margin: 1px 0;
}
#aws-search img:hover { background-color: #DDDDDD; }

#aws-search-bar { width: 82%; height: 26px; border-right: 0; margin: 0; }

#aws-results {
  background-color: #444444;
  margin: 1rem 0 0 0;
}

#aws-results .loader {
  display: none;
  margin: 0 auto;
  padding: 10px 0;
}

#aws-results .aws-book-result {
  min-height: initial;
  max-height: 100px;
}

.aws-book-result p {
  margin-right: 25px;
}

.aws-book-result a.edit-icon {
  bottom: 25px;
}

.aws-book-result input[type="submit"].delete-icon {
  bottom: 45px;
}

/******************************************************************************
 * editable-control div styles
 *****************************************************************************/
div.editable-control {
  width: 100%;
  min-height: 30px;
  background-color: #555555;
  border-bottom: 1px solid #383838;
  position: relative;
  padding: 8px 0px;
  padding-right: 8px;
}

div.editable-control input[type="checkbox"] {
  width: 25px;
  position: absolute;
  top: 50%;
  margin: 0 1px;
  margin-top: -0.5rem;
}

div.editable-control div#check-all-container {
  width: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
}

div.editable-control button,
div.editable-control .button,
div.editable-control input[type="button"],
div.editable-control input[type="submit"] {
  font-size: 9pt;
  margin: 0;
  margin-left: 8px;
}

div.editable-control ul.nav {
  display: inline-block;
  vertical-align: middle;
}

div.editable-control ul.dropdown {
  opacity: 0.9;
}

div.editable-control ul.dropdown > li button,
div.editable-control ul.dropdown > li .button,
div.editable-control ul.dropdown > li input[type="button"],
div.editable-control ul.dropdown > li input[type="submit"] {
  background-color: #565B99;
  margin: 0;
}

div.editable-control ul.dropdown > li button:hover,
div.editable-control ul.dropdown > li .button:hover,
div.editable-control ul.dropdown > li input[type="button"]:hover,
div.editable-control ul.dropdown > li input[type="submit"]:hover {
  background-color: #878DD4;
}

/******************************************************************************
 * editable-list table styles
 *****************************************************************************/
table.editable-list {
  width: 100%;
  background-color: #444444;
  font-size: 9pt;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

table.editable-list tr {
  border-top: 1px solid #535353;
  border-bottom: 1px solid #535353;
}

table.editable-list tr:hover,
table.editable-list tr:hover td {
  background-color: #4D4D4D;
}

table.editable-list tr:hover .fixed-label {
  background-color: #404040;
}

table.editable-list tr:first-of-type {
  border-top: 0;
}

table.editable-list tr:last-of-type {
  border-bottom: 0;
}

table.editable-list td {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.editable-list td.empty {
  padding: 0 10px;
}

table.editable-list .fluid {
  width: 100%;
}

table.editable-list .fixed-select {
  width: 25px;
  text-align: center;
}

table.editable-list .fixed-slug {
  width: 25%;
  font-size: 7pt;
  padding-left: 5px;
  padding-right: 5px;
}

table.editable-list .fixed-date {
  width: 70px;
  text-align: right;
  padding-right: 7px;
}

table.editable-list span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

table.editable-list span.title {
  max-width: 150px;
  color: #DEDEDE;
  background-color: #3D3D3D;
  height: 100%;
  font-weight: bold;
  line-height: 1.7rem;
  padding: 0 5px;
}

table.editable-list span.slug {
  max-width: 120px;
  font-weight: normal;
  line-height: 1rem;
  border-radius: 5px;
  background-color: #333333;
  padding: 1px 5px;
  margin-top: -2px;
  margin-right: 0.3rem;
  margin-left: 0.1rem;
}

table.editable-list input[type="checkbox"] {
  vertical-align: middle;
}