/* default.css
 * Default css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

div#c-header
{
  height: 150px;
  background-color: #ECB7AB;
  padding: 10px;
}

div#c-nav
{
  width: 70%;
  background-color: #51AD6D;
  position: absolute;
  top: 170px;
}

div#c-body
{
  width: 950px;
  height: 100%;
  background-color: #E0CDA8;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -170px;
}

div#c-content
{
  width: 70%;
  //height: 100%;
  background-color: #64ABDE;
  float: left;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-content-inner
{
  margin: 10px 5px;
}

div#c-footer
{
  width: 70%;
  min-height: 200px;
  background-color: #A69B6D;
  float: left;
}

div#c-footer-inner
{
  padding: 5px;
}

div#c-side
{
  width: 30%;
  background-color: #DEC564;
  float: left;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-side-inner
{
  margin: 10px 5px;
}