/* default.css
 * Default css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

* { margin: 0; padding: 0; }
html { height: 100%; }

@font-face {
  font-family: Roboto;
  src: url('../font/Roboto-Regular.woff');
}

body
{
  height: 100%;
  background-color: #D893DB;
  font-family: Roboto, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 11pt;
}

div#c-header
{
  height: 150px;
  background-color: #ECB7AB;
  padding: 10px;
}

div#c-nav
{
  background-color: #51AD6D;
}

div#c-body
{
  width: 950px;
  min-height: 100%;
  background-color: #E0CDA8;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -170px;
}

div#c-content
{
  width: 70%;
  background-color: #64ABDE;
  position: relative;
  float: left;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-content-inner
{
  border: 1px solid black;
  margin: 5px;
}

div#c-footer
{
  width: 98%;
  min-height: 200px;
  background-color: #A69B6D;
  margin-top: 10px;
  padding: 0 1%;
}

div#c-side
{
  width: 30%;
  background-color: #DEC564;
  float: left;
  margin-top: 170px;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

div#c-side-inner
{
  border: 1px solid black;
  margin: 5px;
}

ul.nav
{
  width: 100%;
  height: 1.5em;
  position: absolute;
  background-color: #5AAD74;
  top: -1.5em;
}

ul.nav li
{
  display: inline-block;
  float: left;
  padding: 2px;
}

ul.nav li.right_justified
{
  float: right;
}

a
{
  text-decoration: none;
  font-weight: bold;
}

.group
{
  content: "";
  display: table;
  clear: both;
}