/* front.css
 * Front page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * product showcase thought
 *****************************************************************************/
div.showcase {
  height: 300px;
  background-color: #A80505;
  background-image: url('../images/showcase_placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
}

div.text-overlay {
  width: 200px;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  padding: 10px;
}

div.text-overlay h2 {
  text-align: initial;
}

div.text-overlay p:not([class]) {
  color: #FFFFFF;
}

/******************************************************************************
 * after showcase area
 *****************************************************************************/
.showcase-splitter {
  height: 100px;
  color: #383838;
  background-color: salmon;
  margin: 15px 0;
  padding: 5px;
}

/******************************************************************************
 * thought styles
 *****************************************************************************/
p.idea {
  color: #FFFFFF;
  font-size: 8pt;
  text-transform: uppercase;
  margin: 0;
}

p.title {
  color: #F8C118;
  margin-bottom: 0.3em;
}

p.subtitle {
  color: #B7B7B7;
  font-size: 9pt;
}

/******************************************************************************
 * block grid stories styles
 *****************************************************************************/
ul.small-stories div.img-placeholder {
  height: 150px;
  background-color: #F8C118;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 5px;
}