/* front.css
 * Front page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * product showcase thought
 *****************************************************************************/
div.showcase {
  position: relative;
}

div.showcase a.edit {
  background-color: rgba(0, 0, 0, 0.75);
  line-height: 1.2rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

div.showcase a.edit:hover {
  background-color: rgba(50, 50, 50, 0.75);
}

div.text-overlay {
  width: 200px;
  height: 100.3%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 3px 7px 5px 7px;
}

div.text-overlay > div {
  height: 100%;
  overflow: hidden;
}

div.text-overlay p:not([class]) {
  color: #FFFFFF;
}

@media (max-width: 40rem) {
  div.text-overlay {
    width: 100%;
    background-color: initial;
    position: initial;
    padding: 0;
    padding-top: 5px;
  }
}

/******************************************************************************
 * after showcase area
 *****************************************************************************/
.showcase-splitter {
  background-color: #404040;
  position: relative;
  margin: 2rem 0;
}

.showcase-splitter div.img-placeholder {
  min-width: 200px;
  min-height: 150px;
  float: right;
  background-color: #F8C118;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 40rem) {
  .showcase-splitter div.img-placeholder img {
    width: 100%;
  }

  .showcase-splitter div.img-placeholder {
    float: initial;
    position: relative;
    margin-left: 0;
  }
}

.showcase-splitter span.img-placeholder {
  color: #A80505;
  width: 100%;
  font-size: 21pt;
  font-family: 'Eurostile-Black';
  text-align: center;
  line-height: 1.3rem;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -1.1rem;
  z-index: 1;
}

.showcase-splitter span.big {
  font-size: 23pt;
}

.showcase-splitter p.highlight-category, .showcase-splitter p.highlight-category a {
  font-size: 8pt;
  line-height: 1.2rem;
  text-transform: uppercase;
  margin: 0;
}

.showcase-splitter div.highlight {
  min-height: 150px;
  padding: 5px 7px;
  margin-right: 203px;
}

@media (max-width: 40rem) {
  .showcase-splitter div.highlight {
    margin-right: 0;
  }
}

.showcase-splitter div.highlight p:last-of-type {
  margin-bottom: 0;
}

.showcase-splitter p.subtitle a {
  color: inherit;
  font-style: italic;
}

.showcase-splitter p.date {
  position: absolute;
  color: #B7B7B7;
  font-size: 10pt;
  margin-top: 0.5rem;
  bottom: 0.3rem;
}