/* front.css
 * Front page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * product showcase thought
 *****************************************************************************/
div.showcase {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div.showcase .placeholder {
  color: #F8C118;
}

div.text-overlay {
  width: 200px;
  height: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  padding: 3px 7px 10px 7px;
}

div.text-overlay p:not([class]) {
  color: #FFFFFF;
}

div.text-overlay div {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis; /* doesn't seem to work with the current styles... */
}

/******************************************************************************
 * after showcase area
 *****************************************************************************/
.showcase-splitter {
  min-height: 150px;
  min-width: 400px;
  color: #FFFFFF;
  background-color: #404040;
  position: relative;
  margin-top: 2rem;
}

.showcase-splitter div.img-placeholder {
  width: 200px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.showcase-splitter span.img-placeholder {
  color: #A80505;
  font-size: 20pt;
  font-family: 'Eurostile Black';
  display: block;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0px 0px 1px rgba(168, 5, 5, 0.3);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -1.1rem;
}

.showcase-splitter span.big {
  font-size: 23pt;
}

.showcase-splitter p.highlight-category, .showcase-splitter p.highlight-category a {
  font-size: 8pt;
  text-transform: uppercase;
  margin: 0;
}

.showcase-splitter div.highlight {
  min-height: 150px;
  padding: 5px 7px;
  margin-right: 200px;
}

.showcase-splitter div.highlight p:last-of-type {
  margin-bottom: 0;
}

.showcase-splitter p.subtitle a {
  color: inherit;
  font-style: italic;
}

.showcase-splitter p.date {
  position: absolute;
  color: #B7B7B7;
  font-size: 10pt;
  margin-top: 0.5rem;
  bottom: 0.3rem;
}