/* front.css
 * Front page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * general
 *****************************************************************************/

hr.story-divider
{
  margin: 1.5em 0;
}

/******************************************************************************
 * announcements
 *****************************************************************************/

div.announcements
{
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

/******************************************************************************
 * frontpage-story div
 *****************************************************************************/

div.frontpage-story
{
  height: 300px;
  margin-bottom: 1em;
}

.headline
{
  margin-bottom: 0.3em;
}

.sub-headline
{
  font-size: 9pt;
  font-weight: bold;
}

/******************************************************************************
 * frontpage-story-small-left div
 *****************************************************************************/

div.frontpage-story-small
{
  width: 48%;
  height: auto;
  padding: 1%;
}

div.small-left
{
  float: left;
}

div.small-right
{
  float: right;
}