/* ideas.css
 * Ideas css style for Slacker Paradise
 *
 * Cory Parsnipson, 2015
 */

/******************************************************************************
 * idea catalog styles
 *****************************************************************************/
.catalog {
  border-collapse: separate;
  border-spacing: 0 1rem;
  margin-top: -1rem;
}

.catalog td {
  position: relative;
  overflow: hidden;
}

.catalog td div.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.catalog td:hover div.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}


.catalog td h3 {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.50);
  font-size: 24pt;
  font-family: 'Eurostile-Black';
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 0.5rem;
  padding: 5px;
  z-index: 11;
}

.catalog td p {
  width: 75%;
  max-height: 60%;
  font-size: 10pt;
  line-height: 1.2rem;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  visibility: hidden;
  z-index: 11;
  margin: 0.5rem;
}

.catalog td:hover p {
  visibility: visible;
}

.catalog tr:nth-of-type(odd) h3 {
  left: 0.5rem;
}

.catalog tr:nth-of-type(odd) p {
  right: 0.5rem;
  text-align: right;
}

.catalog tr:nth-of-type(even) h3 {
  right: 0.5rem;
}

.catalog tr:nth-of-type(even) p {
  left: 0.5rem;
  text-align: left;
}

@media (max-width: 40rem) {
  .catalog tr:nth-of-type(even) h3 {
    right: auto;
    left: 0.5rem;
  }
}

/******************************************************************************
 * sidebar styles
 *****************************************************************************/
table.recent-ideas-list {
  width: 100%;
}

table.recent-ideas-list tr:nth-of-type(odd) {
  background-color: #404040;
}

table.recent-ideas-list td {
  padding: 5px;
}

table.recent-ideas-list td p {
  margin-bottom: 0.1rem;
}

table.recent-ideas-list td p.title {
  font-size: 9pt;
  text-align: right;
  border-bottom: 1px solid #F8C118;
  margin-bottom: 0.5rem;
}

table.recent-ideas-list td p.small-title {
  display: inline-block;
  margin-bottom: 0.2rem;
}