/* idea.css
 * Idea page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * idea banner styles
 *****************************************************************************/
div.idea-banner {
  position: relative;
  margin-bottom: 2rem;
}

div.idea-banner img {
  width: 100%;
}

div.idea-banner h1 {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  background: linear-gradient(left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  position: absolute;
  top: 0;
  padding: 5px;
}

/******************************************************************************
 * thought block grid styles
 *****************************************************************************/
ul.small-stories div.img-placeholder {
  width: 50%;
  float: left;
  margin-right: 10px;
}

ul.small-stories li {
  width: 99%; /* for some reason, padding causes li items to be larger than 100% even with border-box */
  padding: 15px 10px;
}

ul.small-stories li:nth-of-type(even) {
  background-color: #494949;
}

/******************************************************************************
 * side thought nav styles
 *****************************************************************************/
div.thought-history {
  background-color: #494949;
  margin-bottom: 1rem;
}

div.thought-history p {
  margin: 0;
}

div.thought-history p a {
  width: 100%;
  color: #FFFFFF;
  display: inline-block;
  padding: 15px 5px;
}

div.thought-history p a:hover {
  color: #F8C118;
}

div.thought-history p:nth-of-type(even) {
  background-color: #383838;

}