/* idea.css
 * Idea page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2014
 */

/******************************************************************************
 * thought styles
 *****************************************************************************/
div.thought {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/******************************************************************************
 * thought side navigation styles
 *****************************************************************************/
table.thought-nav {
  border-collapse: separate;
  //border-spacing: 0 1rem;
}

table.thought-nav td {
}

table.thought-nav p {
}