/* mce.css
 * styles for TinyMCE editor window
 *
 * Cory Parsnipson, 2015
 */

@import url('//fonts.googleapis.com/css?family=Sigmar+One|Roboto');
@import url('common.css');

/******************************************************************************
 * tinyMCE preview window
 *****************************************************************************/
body {
  padding-left: 10px;
  padding-right: 10px;
}

/******************************************************************************
 * tinyMCE editor window
 *****************************************************************************/
body[data-id="id_content"] {
  color: #383838;
  background-color: #CDCDCD;
  font-size: 9pt;
  line-height: 1rem;
  text-align: left;
  margin: 2px;
}

body[data-id="id_content"] h1,
body[data-id="id_content"] h2,
body[data-id="id_content"] h3,
body[data-id="id_content"] h4,
body[data-id="id_content"] h5,
body[data-id="id_content"] h6,
body[data-id="id_content"] a {
  color: #004A81;
}

body[data-id="id_content"] a {
  cursor: pointer;
}

body[data-id="id_content"] a:hover {
  color: #0C77C7;
}