/* thought.css
 * Thought page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2015
 */

/******************************************************************************
 * thought main content styles
 *****************************************************************************/
div.content {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

img.preview {
  margin-bottom: 20px;
}

/******************************************************************************
 * thought navigation styles
 *****************************************************************************/
ul.thought-nav li div.header {
  padding: 5px 10px;
}

ul.thought-nav li div.nav {
  position: relative;
}

ul.thought-nav li div.nav-placeholder {
  height: 140px;
  background-color: #494949;
  position: relative;
}

ul.thought-nav li div.nav-placeholder span {
  color: #B7B7B7;
  font-size: 72pt;
  font-family: 'Eurostile-Black';
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5rem;
}

ul.thought-nav p {
  width: 100%;
  color: #F8C118;
  font-weight: normal;
  line-height: 1.2rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  padding: 5px;
}

ul.outer-nested-list li {
  padding-bottom: 0;
}