/* thought.css
 * Thought page css style for Slacker Paradise
 *
 * Cory Parsnipson, 2015
 */

/******************************************************************************
 * thought main content styles
 *****************************************************************************/
div.content {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

/******************************************************************************
 * thought side navigation styles
 *****************************************************************************/
div#content-side h3 {
  text-align: left;
  margin-bottom: 1rem;
}

table.thought-nav {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

table.thought-nav td {
  position: relative;
}

table.thought-nav p {
  width: 100%;
  color: #F8C118;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  padding: 5px;
}

div.nav-placeholder {
  height: 140px;
  background-color: #494949;
}

div.nav-placeholder span {
  color: #B7B7B7;
  font-size: 72pt;
  font-family: 'Eurostile-Black';
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -0.5rem;
}

/******************************************************************************
 * thought footer navigation styles
 *****************************************************************************/
div#footer table.thought-nav {
  width: 50%;
  border-spacing: 0;
  float: left;
  padding: 0 1rem;
}

div#footer table.thought-nav th {
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}